<template>
    <div class="v-blog">
        <v-header-menu></v-header-menu>
        <v-articles-loading-blog></v-articles-loading-blog>
    </div>
</template>

<script>
    import VHeaderMenu from "../sections/v-header-menu";
    import VArticlesLoadingBlog from "../articles/v-articles-loading-blog";
    export default {
        name: "v-blog",
        components: {VArticlesLoadingBlog, VHeaderMenu}
    }
</script>

<style scoped>

</style>