<template>
    <div class="v-catalog-images">
        <v-header-menu></v-header-menu>
        <v-filter-images></v-filter-images>
        <v-images-loading-catalog></v-images-loading-catalog>
    </div>
</template>

<script>
    import VFilterImages from "../sections/v-filter-images";
    import VHeaderMenu from "../sections/v-header-menu";
    import VImagesLoadingCatalog from "../images/v-images-loading-catalog";

    export default {
        name: "v-catalog-images",
        components: {VImagesLoadingCatalog, VHeaderMenu, VFilterImages}
    }
</script>

<style scoped>

</style>