<template>
  <div class="v-catalog-image">
    <v-header-menu></v-header-menu>
    <div class="media_show photo">
      <div class="left">
        <div class="inside">
          <div style="text-align:center">
            <div class="media_container">
              <img id="catalog_image_el"
                   :src="IMAGE.image_src"
                   :alt="IMAGE.name"
              >
              <h1 v-if="image_category()">
                <a
                    @click="image_category_filter(IMAGE.image_category.id)"
                >
                  {{ IMAGE.image_category.name }}
                </a>
              </h1>
            </div>
            <a style="position:absolute;left:-9999px" rel="license"
               about="/img/expression-1147288_960_720.webp" href="#">
              Public Domain
            </a>
          </div>
        </div>
      </div>
      <div class="right">
        <div style="margin:0 0 20px" v-if="image_user()">
          <div class="clearfix">
            <a href="#">
              <img class="hover_opacity user-profile__image" :src="IMAGE.user.profile.image_src">
            </a>
            <a class="hover_opacity link-count__photo"
               href="#">{{ IMAGE.user.name }} / {{ IMAGE.user.synthetic.count_images }} фотографии</a>
            <br>
            <span class="pure-button button-sm button-green">Поддержать</span>
            <span class="pure-button button-sm "><i class="check">✓</i> Подписаться</span>
          </div>
        </div>
        <!--                <div class="like_buttons">-->
        <!--                        <span class="pure-button pure-button-primary button-sm ds_box" title="Нравится">-->
        <!--                            <v-icon-->
        <!--                                    v-text="icons.thumb_up"-->
        <!--                            ></v-icon>-->
        <!--                            <b style="pointer-events: none;">{{IMAGE.like}}</b>-->
        <!--                        </span>-->
        <!--                    <span class="pure-button pure-button-primary button-sm ds_box" title="Скачать">-->
        <!--                            <v-icon-->
        <!--                                    v-text="icons.star"-->
        <!--                            ></v-icon>-->
        <!--                            <b style="pointer-events: none;">{{IMAGE.load}}</b>-->
        <!--                        </span>-->
        <!--                    <span class="pure-button button-sm dd_box" title="Поделиться">-->
        <!--                            <v-icon-->
        <!--                                    v-text="icons.share_variant"-->
        <!--                            ></v-icon>-->
        <!--                        </span>-->
        <!--                    <div class="share_links"></div>-->
        <!--                </div>-->
        <p style="margin:15px 0 5px;font-size:13px;padding:5px 15px;background:#f6f5fa;border-bottom: 1px solid #eeeff2">
          Похожие изображения</p>
        <div class="flex_grid sidebar_thumbs" style="margin:-4px -6px 15px -5px">
          <div class="item" style="width: 145px; height: 96px; display: block; object-fit: cover;"
               v-for="img in IMAGES_SIMILAR"
               :key="img.id"
          >
            <router-link
                :to="{name:'catalog_image', params: { slug: img.slug}}"
                class="router_link"
            >
              <img :title="img.name" :src="img.image_src" :alt="img.name">
              <em>{{ img.name }}</em>
            </router-link>
          </div>
        </div>
        <div style="padding:15px 20px;background:#f6f5fa">
          <table id="details">
            <tbody>
            <tr>
              <th>Создан</th>
              <td>{{ new Date(IMAGE.created_at) | dateFormat('DD.MM.YYYY') }}</td>
            </tr>
            <tr v-if="image_category()">
              <th>Категория</th>
              <td>
                <a
                    @click="image_category_filter(IMAGE.image_category.id)"
                >
                  {{ IMAGE.image_category.name }}
                </a>
              </td>
            </tr>
            <tr>
              <th>Просмотры</th>
              <td>{{ IMAGE.view }}</td>
            </tr>
            <tr>
              <th>Комментарии</th>
              <td>{{ image_comments() }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="left">
        <div class="inside" style="margin-top:15px">
          <v-comments-loading-image></v-comments-loading-image>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import VHeaderMenu from "../sections/v-header-menu";
import {mapActions, mapGetters} from "vuex";
import filters_images_mixin from "../../mixins/filters/filters_images";
import VCommentsLoadingImage from "../comments/v-comments-loading-image";

export default {
  name: "v-catalog-image",
  mixins: [filters_images_mixin],
  components: {VCommentsLoadingImage, VHeaderMenu},
  data() {
    return {
      images: [],
      comments: [],
      image: {},
      img: {},
      slug: '',
      icons: {
        thumb_up: '$vuetify.icons.thumb_up',
        star: '$vuetify.icons.star',
        share_variant: '$vuetify.icons.share_variant',
      },

    }
  },
  computed: {
    ...mapGetters([
      'IMAGE',
      'IMAGES_SIMILAR',
    ]),

  },
  methods: {
    ...mapActions([
      'GET_IMAGE',
    ]),
    image_user() {
      let user = this.IMAGE.user;
      if (user !== undefined) {
        return user;
      }
      return false;
    },
    image_category() {
      let image_category = this.IMAGE.image_category;
      if (image_category !== undefined) {
        return image_category;
      }
      return false;
    },
    image_comments() {
      let synthetic = this.IMAGE.synthetic;
      if (synthetic !== undefined) {
        return synthetic.count_comments;
      }
      return 0;
    }
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler() {
        //TODO консультация по правильности решения
        if(this.$route.name === 'catalog_image') {
          this.GET_IMAGE(this.$route.params.slug)
        }
      },
    },
  },
  mounted() {
    //console.log(555,this.IMAGE);
  }
}
</script>

<style scoped>
/*** uncss> filename: block5/block5.css ***/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 400i, 600, 700, 700i&display=swap");

.photo {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

.photo a {
  background-color: transparent;
}

.photo a:active, .photo a:hover {
  outline: 0;
}

.photo b {
  font-weight: 700;
}

.photo h1 {
  font-size: 2em;
  margin: .67em 0;
}

.photo img {
  border: 0;
}

.photo input, .photo textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.photo input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.photo input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.photo input {
  line-height: normal;
}

.photo input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.photo textarea {
  overflow: auto;
}

.photo table {
  border-spacing: 0;
}

.photo td, .photo th {
  padding: 0;
}

.photo .pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0, 0, 0, .8);
  border: 0 transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.photo .pure-button:focus, .photo .pure-button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000", GradientType=0);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.photo .pure-button:focus {
  outline: 0;
}

.photo .pure-button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 0 6px rgba(0, 0, 0, .2);
  border-color: #000;
}

.photo .pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.photo .pure-button-primary {
  background-color: #0078e7;
  color: #fff;
}

.photo .pure-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.photo .pure-form textarea:focus {
  outline: 0;
  border-color: #129fea;
}

.photo .pure-form input[type=checkbox]:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}

.photo .pure-form input:focus:invalid, .photo .pure-form textarea:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

.photo .pure-form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d;
}

.photo .pure-form label {
  margin: .5em 0 .2em;
}

@media only screen and (max-width: 480px) {
  .photo .pure-form label {
    margin-bottom: .3em;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo .hide-md {
    display: none !important;
  }
}

.photo h1, .photo html, .photo input, .photo textarea {
  color: #191b26;
  font-family: Open Sans, sans-serif;
}

.photo input, .photo textarea {
  border-radius: 2px !important;
  resize: none;
}

.photo :focus:required {
  border-color: #129fea !important;
}

.photo :invalid {
  color: #555 !important;
}

.photo .pure-button {
  padding: 10px 22px;
  text-decoration: none !important;
  border-radius: 50px !important;
}

.photo .pure-button:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1)) !important;
}

.photo .pure-button-primary {
  color: #fff !important;
  background-color: #008ddf !important;
}

.photo .button-green {
  color: #fff !important;
  background-color: #02be6e !important;
}

.photo .button-md {
  padding: 8px 17px;
  font-size: 13px;
}

.photo .button-sm {
  padding: 6px 12px;
  font-size: 12px;
  position: relative;
  top: -2px;
}

.photo .pure-button .check {
  display: none;
}

.photo * {
  margin: 0;
}

.photo #content {
  padding-bottom: 50px;
}

.photo a {
  color: #0a88d3;
  text-decoration: none;
  cursor: pointer;
}

.photo p {
  margin: 0 0 10px;
  line-height: 1.6;
}

.photo a, .photo input, .photo textarea {
  outline: none !important;
}

.photo h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 25px;
}

.photo h1 span {
  color: #555;
}

.photo h1 span:hover {
  text-decoration: underline;
}

.photo table {
  width: 100%;
  border-collapse: collapse;
}

.photo table td, .photo table th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

.photo label:not([class=checkbox]) {
  display: block;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.photo ::-webkit-input-placeholder {
  color: #bbb !important;
}

.photo ::-moz-placeholder {
  color: #bbb !important;
}

.photo :-ms-input-placeholder {
  color: #bbb !important;
}

.photo [placeholder] {
  text-overflow: ellipsis;
}

.photo ::-ms-clear {
  display: none;
}

.photo .clearfix:after, .photo .clearfix:before {
  display: table;
  content: ""
}

.photo .clearfix:after {
  clear: both;
}

.photo .clearfix {
  zoom: 1;
}

.photo .text {
  margin: 10px 0 0;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.photo .hover_opacity {
  opacity: 1;
  transition: opacity .2s;
}

.photo .hover_opacity:hover {
  opacity: .7;
}

.photo .check {
  font-style: normal;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
  line-height: 12px;
}

.photo .check {
  font-size: 12px;
}

.media_show {
  max-width: 1310px;
  margin: 32px auto 0;
  padding: 0 20px;
  position: relative;
}

.media_show .left {
  width: 100%;
  float: left;
  margin-right: -300px;
}

.media_show .left .inside {
  margin-right: 300px;
  padding-right: 50px;
}

.media_show .right {
  width: 300px;
  float: right;
  margin-bottom: 10px;
  position: relative;
}

@media screen and (max-width: 1180px) {
  .media_show .left {
    margin-right: -275px;
  }

  .media_show .left .inside {
    margin-right: 275px;
    padding-right: 25px;
  }

  .media_show .right {
    width: 275px;
  }
}

@media screen and (max-width: 850px) {
  .media_show {
    margin-top: 24px;
  }

  .media_show .left {
    margin: 0 0 20px;
  }

  .media_show .left .inside {
    margin: 0;
    padding: 0;
  }

  .media_show .right {
    width: 100%
  }

  .media_show #details td {
    text-align: left !important;
    padding-left: 30px !important;
  }
}

.media_show #details td, .media_show #details th {
  white-space: nowrap;
  font-size: 13px;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #636363;
}

.media_show #details th {
  width: 1%;
  padding-right: 10px;
}

.media_show #details td {
  text-align: right;
}

.media_show .like_buttons {
  margin: 20px 0;
  padding: 16px 0 14px;
  border: 1px solid #eeeff2;
  border-left: 0;
  border-right: 0;
}

.media_show .like_buttons .pure-button {
  display: inline-block;
  padding: 0 15px;
  width: 28%;
  height: 28px;
  line-height: 27px;
  font-size: 13px;
  max-width: 100px;
}

.media_show .like_buttons .pure-button i {
  vertical-align: middle;
}

.media_show .like_buttons .pure-button b {
  vertical-align: middle;
  margin-left: 8px;
}

.media_container {
  position: relative;
}

.media_show.photo .media_container {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.media_container > img {
  display: block;
  height: auto;
  width: 100%;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 30, .3);
  background: linear-gradient(45deg, #efefef 25%, transparent 0, transparent 75%, #efefef 0, #efefef), linear-gradient(45deg, #efefef 25%, transparent 0, transparent 75%, #efefef 0, #efefef);
  background-position: 0 0, 10px 10px;
  background-color: #fff;
  background-size: 21px 21px;
}

.media_container h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 9;
  text-align: left;
  font-size: 16px;
  text-transform: capitalize;
  transition: .3s;
  background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0, transparent);
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  padding: 0 10px;
}

.media_container h1 span {
  float: right;
  display: inline-block;
  padding: 9px 8px 5px 10px;
  background: rgba(0, 0, 0, .5);
  line-height: 1;
  border-radius: 30px;
  cursor: pointer;
  opacity: .8;
  margin: 7px 0 0 15px;
}

.media_container:hover h1, .media_container h1 span:hover {
  opacity: 1;
}

.media_container h1 a {
  color: #fff;
  padding: 4px;
  border-radius: 2px;
  text-decoration: none;
  transition: .3s;
}

.media_container h1 a:hover {
  color: #fff;
  background: hsla(0, 0%, 100%, .3);
}

.media_container h1 a.award {
  padding: 3px 5px;
}

.photo .dd_box + div {
  display: none;
  position: absolute;
  z-index: 9;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  color: #9aa2b0;
  background: #191b26;
}

.photo .icon {
  position: relative;
  display: inline-block;
  padding: 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.photo .icon_ec {
  background-position: -100px -50px;
  width: 15px;
  height: 16px;
  top: 2px;
}

.photo .icon_like_filled {
  background-position: -20px -200px;
  width: 15px;
  height: 14px;
}

.photo .icon_favorite_filled {
  background-position: -70px -200px;
  width: 15px;
  height: 14px;
}

.photo .icon_flag {
  background-position: -100px -200px;
  width: 13px;
  height: 14px;
}

.photo .icon_share {
  background-position: -150px -200px;
  width: 15px;
  height: 15px;
}

.photo .flex_grid {
  overflow: hidden;
  margin: 4px 17px 0 18px;
}

.photo .flex_grid .item {
  float: left;
  position: relative;
  display: none;
  margin: 5px;
  box-sizing: content-box;
  overflow: hidden;
}

.photo .flex_grid .item img {
  display: block;
  width: 100%;
  height: auto;
}

.ds_box i {
  color: #fff;
  font-size: 15px;
}

.dd_box i {
  color: #383d41;
  font-size: 15px;
}

.user-profile__image {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  margin: 0 12px 0 0
}

.link-count__photo {
  display: block;
  font-size: 15px;
  margin: -3px 0 -8px 60px;
  color: rgb(85, 85, 85) !important;
}

.share_links {
  width: 216px;
  padding: 15px
}
</style>