<template>
    <div class="v-confirm">
      <div class="container">
      <div class="success__icon">
        <v-icon
            v-text="icons.chevron_down_circle_outline"
        ></v-icon>
      </div>
      <div class="alert alert-success success__center">
        <h3>Вы успешно подтвердили регистрацию!</h3>
      </div>
        <button @click="login()" type="submit">Войти в личный кабинет</button>
    </div>
    </div>
</template>

<script>
    import route from "../../halpers/route";
    export default {
        name: "v-confirm",
      data(){
        return {
          icons: {
            chevron_down_circle_outline: '$vuetify.icons.chevron_down_circle_outline',
          }
        };
      },
      methods: {
        login() {
          let token = this.$route.params.token;
          let [email, password] = JSON.parse(atob(token));
          this.$auth.login({
            url: route('auth.login'),
            body: {
              email: email,
              password: password
            },
            rememberMe: true,
            fetchUser: true,
          })
              .then(response => {
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$auth.token();
                this.$router.push('/dashboard');
              })
        },
      },
      mounted() {
        let token = this.$route.params.token;
        let [email, password] = JSON.parse(atob(token));
        console.log(email, password)
      }
    }
</script>

<style scoped>
.container{
  padding-left: 15px;
  padding-right: 15px;
}
h3 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  color: #43383e;
  font-size: 20px;
  text-transform: none;
}
button {
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  display: block;
  background-color: #000;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 15px;
  color: #fff;
  padding: 15px 15px 15px 15px;
  border-radius: 30px;
  min-width: 180px;
  border: none;
  transition:all .3s ease;
}
button:hover{
  transform: scaleX(1.1);
  transition:all .3s ease;
}
button:focus {
  outline: 1px dotted;
  /* outline: 5px auto -webkit-focus-ring-color; */
}
.success__center {
  text-align: center;
}
.success__icon i {
  text-align: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 100px;
  color: #429455;
}
</style>