<template>
    <div class="v-forum">
        <v-header-menu></v-header-menu>
        <v-articles-loading-forum></v-articles-loading-forum>
    </div>
</template>

<script>
    import VHeaderMenu from "../sections/v-header-menu";
    import VArticlesLoadingForum from "../articles/v-articles-loading-forum";
    export default {
        name: "v-forum",
        components: {VArticlesLoadingForum, VHeaderMenu}
    }
</script>

<style scoped>

</style>