<template>
  <div class="v-forum-article">
    <v-header-menu></v-header-menu>
    <div class="forum-question">
      <router-link
          v-if="!$auth.check()"
          :to="{ name: 'login' }"
          class="pure-button button-md button-green hide-xs new__theme"
      >
        Новая тема
      </router-link>
      <a v-else
          class="pure-button button-md button-green hide-xs new__theme"
          v-b-modal.modal_article_ckeditor
      >
        Новая тема
      </a>
      <div class="hide-xs hide-sm" style="float:right;position:relative;top:7px">
        <div class="tiny_search active">
          <button
              class="q__button"
              @click="search_comments_filter(comment_search)"
          ></button>
          <input

              class="dirty"
              type="text"
              @keyup.enter="search_comments_filter(comment_search)"
              v-model="comment_search"
              placeholder="Поиск"
          >
        </div>
      </div>
      <h2 class="h2__forum">
        <router-link :to="{name:'forum'}">
          Форум
        </router-link>
      </h2>
      <h3 style="font-size:16px;margin:2px 0 5px;position:relative;top:-8px;font-weight:normal"
          v-if="article_category()">
        <a
            @click="article_category_filter(ARTICLE.article_category.id, article_type_id)"
        >
          {{ ARTICLE.article_category.name }}
        </a>
      </h3>
      <table class="forum_posts">
        <tbody>
        <tr>
          <th colspan="2" style="padding-bottom:5px;padding-top:9px;background:#3879d9">
            <div class="hide-xs hide-sm" style="float:right;margin-left:15px">
              <router-link
                  v-if="!$auth.check()"
                  :to="{ name: 'login' }"
                  class="pure-button button-sm button-grey"
              >
                Коментировать
              </router-link>
              <a
                  v-else
                  class="pure-button button-sm button-grey"
                  v-b-modal.modal_ckeditor_comment
              >
                Коментировать
              </a>
              <router-link
                  v-if="!$auth.check()"
                  :to="{ name: 'login' }"
                  class="pure-button button-sm"
              >
                Подписаться
              </router-link>
              <a
                  v-else
                  class="pure-button button-sm"
              >
                Подписаться
              </a>
            </div>
            <h1 style="display:inline;font-size:15px">
              <div
                  style="color:#fff"
              >
                {{ ARTICLE.name }}
              </div>
            </h1>
          </th>
        </tr>
        <tr>
          <td v-if="article_user()" style="background-color: #e8e7e7">
            <div style="width:180px" class="hide-xs hide-sm hide-md"></div>
            <a href="#">
              <img :src="ARTICLE.user.profile.image_src">
            </a>
            <span style="display:block;white-space:nowrap">
                        <a href="#">{{ ARTICLE.user.name }}</a>
                        <br>
                        Сообщения: {{ ARTICLE.user.synthetic.count_comments }}
                        <br>
                        <a href="#">Сообщение</a>
                    </span>
          </td>
          <td style="background-color: #e8e7e7">
            <!--                        <div class="options hide-xs">-->
            <!--                            <a href="#">Ответ</a>-->
            <!--                            <a class="ajax">Сообщить о спаме</a>-->
            <!--                            <a class="translate">Перевести</a>-->
            <!--                        </div>-->
            <i>{{ new Date(ARTICLE.created_at) | dateFormat('DD.MM.YYYY HH:mm') }}</i>
            <div class="post" v-html="ARTICLE.description">
              {{ ARTICLE.description }}
            </div>
          </td>
        </tr>
        <v-comment-item-article
            v-for="comment in this.$store.state.comments.catalog"
            :key="comment.id"
            :comment="comment"
        ></v-comment-item-article>
        </tbody>
      </table>
      <infinite-loading @distance="1" @infinite="infiniteHandler"></infinite-loading>

      <div style="padding:20px 0 0;overflow:hidden">
        <div style="float:left;margin:5px 10px 10px 0">
          <router-link
              v-if="!$auth.check()"
              :to="{ name: 'login' }"
              class="pure-button button-md button-green"
          >
            Коментировать
          </router-link>
          <a
              v-else
              class="pure-button button-md button-green"
              v-b-modal.modal_ckeditor_comment
          >
            Коментировать
          </a>
          <span
              v-if="!$auth.check()"
              :to="{ name: 'login' }"
              class="subscribe pure-button button-md ajax"
          >
                    <i class="check">✓</i> Подписаться
                  </span>
          <span
              v-else
              class="subscribe pure-button button-md ajax"
          >
                    <i class="check">✓</i> Подписаться
                  </span>
        </div>
      </div>

      <v-new-forum-article></v-new-forum-article>
      <v-new-forum-comment></v-new-forum-comment>

    </div>
  </div>
</template>

<script>
import VHeaderMenu from "../sections/v-header-menu";
import filters_articles_mixin from "../../mixins/filters/filters_articles";
import filters_comments_mixin from "../../mixins/filters/filters_comments";
import {mapActions, mapGetters} from "vuex";
import VCommentItemArticle from "../comments/v-comment-item-article";
import axios from "axios";
import route from "../../halpers/route";
import constants from "../../halpers/constants";
import VNewForumArticle from "../modal/v-new-forum-article";
import VNewForumComment from "../modal/v-new-forum-comment";
import notify_error from "../../halpers/notify_error";


export default {
  name: "v-forum-article",
  mixins: [filters_articles_mixin, filters_comments_mixin],
  components: {VNewForumComment, VNewForumArticle, VCommentItemArticle, VHeaderMenu},
  created() {
    this.article_type_id = constants.article_types.forum;
  },
  data() {
    return {
      comment_search: '',
      watch_by_route: false,
      article_type_id: 0,
    }
  },
  computed: {
    ...mapGetters([
      'ARTICLE',
    ]),

  },
  methods: {
    ...mapActions([
      'GET_ARTICLE',
    ]),
    infiniteHandler($state) {

      if ($state) {
        if (this.$route.params.slug !== undefined) {
          let slug = this.$route.params.slug;
          let entity_id = slug.split('-')[0];

          let filters = {
            entity_type_id: constants.entity_types.article,
            entity_id: Number(entity_id)
          }
          if (Object.keys(this.$store.state.comments.url_params.filters).length > 0) {
            filters = {...this.$store.state.comments.url_params.filters, ...filters};
          }
          let url_params = {
            page: this.$store.state.comments.url_params.page++,
            filters: filters,
          }

          this.$store.state.handler = $state

          axios.get(route('comments.index'), {
            params: url_params
          })
              .then((request) => {
                let comments = request.data.data;
                if (comments.length) {
                  this.$store.state.comments.catalog = this.$store.state.comments.catalog.concat(comments);
                  $state.loaded();
                } else {
                  $state.complete();
                }
              })
              .catch((error) => {
                notify_error(this);
              });
        }

      }
    },

    article_user() {
      let user = this.ARTICLE.user;
      if (user !== undefined) {
        return user;
      }
      return false;
    },
    article_category() {
      let article_category = this.ARTICLE.article_category;
      if (article_category !== undefined) {
        return article_category;
      }
      return false;
    },
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler() {
        //TODO тут нужно все переделать
        //TODO консультация по правильности решения
        if(this.$route.name === 'forum_article'){
          this.watch_by_route = true;
          this.GET_ARTICLE(this.$route.params.slug);
          this.$store.state.comments.url_params.page = 1;
          this.$store.state.comments.url_params.filters = {};
          this.$store.state.comments.catalog = [];
          this.infiniteHandler(this.$store.state.handler);
        }
      },
    },
    $route(to, from) {
      if (to.name === 'forum_article') {
        this.comment_search = '';
      }
    },
    '$store.state.comments.url_params.filters': {
      immediate: true,
      handler() {
        // console.log(this.watch_by_route)
        // if(!this.watch_by_route){
        //   console.log(1)
        //   this.infiniteHandler(this.$store.state.handler)
        // }
        this.infiniteHandler(this.$store.state.handler)
      },
    },
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i&display=swap");

.forum-question {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.forum-question {

  margin: 45px auto 0;
  padding: 0 20px;
  max-width: 1040px
}

.forum-question a {
  background-color: transparent;
}

.forum-question a:active,
.forum-question a:hover {
  outline: 0;
}

.forum-question h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.forum-question img {
  border: 0;
}

.forum-question input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.forum-question input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.forum-question input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.forum-question input {
  line-height: normal;
}

.forum-question table {
  border-spacing: 0;
}

.forum-question td,
.forum-question th {
  padding: 0;
}

.forum-question .pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 0 transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.forum-question .pure-button:focus,
.forum-question .pure-button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000", GradientType=0);
  background-image: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.05) 40%,
      rgba(0, 0, 0, 0.1)
  );
}

.forum-question .pure-button:focus {
  outline: 0;
}

.forum-question .pure-button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-color: #000;
}

.forum-question .pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@media screen and (max-width: 567px) {
  .forum-question .hide-xs {
    display: none !important;
  }
}

@media screen and (min-width: 568px) and (max-width: 767px) {
  .forum-question .hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .forum-question .hide-md {
    display: none !important;
  }
}

.forum-question h1,
.forum-question h2,
.forum-question h3,
.forum-question input {
  color: #191b26;
  font-family: Open Sans, sans-serif;
}

.forum-question input {
  border-radius: 2px !important;
  resize: none;
}

.forum-question :focus:required {
  border-color: #129fea !important;
}

.forum-question :invalid {
  color: #555 !important;
}

.forum-question .pure-button {
  padding: 10px 22px;
  text-decoration: none !important;
  border-radius: 50px !important;
}

.forum-question .pure-button:hover {
  background-image: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.05) 40%,
      rgba(0, 0, 0, 0.1)
  ) !important;
}

.forum-question .button-green {
  color: #fff !important;
  background-color: #02be6e !important;
}

.button-grey {
  color: #fff !important;
  background-color: #616161 !important;
}

.forum-question .button-md {
  padding: 8px 17px;
  font-size: 13px;
}

.forum-question .button-sm {
  padding: 6px 12px;
  font-size: 12px;
  position: relative;
  top: -2px;
}

.forum-question .pure-button .check {
  display: none;
}

.forum-question * {
  margin: 0;
}

.forum-question {
  height: 100%;
  min-width: 320px;
}

.forum-question a {
  color: #0a88d3;
  text-decoration: none;
  cursor: pointer;
}

.forum-question p {
  margin: 0 0 10px;
  line-height: 1.6;
}

.forum-question a,
.forum-question input {
  outline: none !important;
}

.forum-question h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 25px;
}

.forum-question h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 12px;
}

.forum-question h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 15px;
}

.forum-question h1 a,
.forum-question h2 a,
.forum-question h3 a {
  color: #555;
}

.forum-question h1 a:hover,
.forum-question h2 a:hover,
.forum-question h3 a:hover {
  text-decoration: underline;
}

.forum-question table {
  width: 100%;
  border-collapse: collapse;
}

.forum-question table td,
.forum-question table th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

.forum-question label:not([class="checkbox"]) {
  display: block;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.forum-question ::-webkit-input-placeholder {
  color: #bbb !important;
}

.forum-question ::-moz-placeholder {
  color: #bbb !important;
}

.forum-question :-ms-input-placeholder {
  color: #bbb !important;
}

.forum-question [placeholder] {
  text-overflow: ellipsis;
}

.forum-question ::-ms-clear {
  display: none;
}

.forum-question .tiny_search {
  display: inline-block;
  position: relative;
  font-size: 16px;
  min-width: 0;
}

.q__button {
  z-index: 10;
  display: inline-block !important;
  margin: 0 !important;
  background: url(/img/sprites.svg);
  background: url(/img/sprites.svg), none;
  background-position: -200px 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 1px;
  opacity: 0.7;
}

.forum-question .tiny_search [type="text"] {
  transition: 0.3s;
  width: 0;
  opacity: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0 !important;
  padding: 2px 28px 2px 2px;
  color: #777;
}

.forum-question .tiny_search [type="button"] {
  position: absolute;
  left: -9999px;
}

.forum-question .tiny_search.active input {
  width: 220px;
  opacity: 1;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0 !important;
  padding: 2px 28px 2px 2px;
  background: transparent;
}

.forum-question .check {
  font-style: normal;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
  line-height: 12px;
}

.forum-question .check {
  font-size: 12px;
}

.forum-question .forum_posts td,
.forum-question .forum_posts th {
  padding: 12px 10px;
  vertical-align: top;
  font-weight: 400;
  line-height: 1.5;
}

.forum-question .forum_posts th {
  width: auto;
  background: #f6f5fa;
  border-top: 1px solid #f0f1f4;
  border-bottom: 1px solid #f0f1f4;
  font-size: 14px;
}

.forum-question .forum_posts td {
  color: #2e3539;
  background: #fff;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}

.forum-question .forum_posts td:first-child span {
  color: #777;
  font-size: 13px;
}

.forum-question .forum_posts td:last-child {
  min-width: 120px;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forum-question .forum_posts td:first-child {
  width: 1%;
}

.forum-question .forum_posts td:first-child img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.forum-question .forum_posts .options {
  float: right;
  margin-left: 10px;
  font-size: 12px;
}

.forum-question .forum_posts .options a {
  color: #777;
  margin-left: 10px;
}

.forum-question .forum_posts .post {
  margin: 10px 0 0;
  font-size: 13px;
  word-wrap: break-word;
  white-space: normal;
  color: #555;
}

.new__theme {
  float: right;
  position: relative;
  top: 0;
  margin-left: 20px;
  z-index: 99
}

.h2__forum {
  margin: 0;
  font-size: 18px;
  position: relative;
  top: -8px
}
</style>