<template>
    <div class="v-home">
        <v-header></v-header>
        <v-images-loading-home></v-images-loading-home>
    </div>
</template>

<script>
    import VHeader from "../sections/v-header";
    import VImagesLoadingHome from "../images/v-images-loading-home";

    export default {
        name: "v-home",
        components: {VImagesLoadingHome, VHeader}
    }
</script>

<style scoped>

</style>