<template>
    <div class="v-images-loading-home">
        <div class="container">
            <v-image-item
                    v-for="image in this.images"
                    :key="image.id"
                    :image="image"
            >
            </v-image-item>
        </div>
        <infinite-loading @distance="1" @infinite="infiniteHandler"></infinite-loading>
    </div>
</template>

<script>
    import VImageItem from "./v-image-item";
    import axios from "axios";
    import route from "../../halpers/route";
    import {mapGetters} from "vuex";
    import notify_errors from "../../halpers/notify_errors";
    import notify_error from "../../halpers/notify_error";

    export default {
        name: "v-images-loading-home",
        components: {
            VImageItem,
        },
        data() {
            return {
                images: [],
                page: 1,
            }
        },
        methods: {
            infiniteHandler($state) {
                let page = this.page++;
                this.$store.state.handler = $state
                let params = {
                    page: page,
                }
                axios.get(route('images.index'), {
                    params: params
                })
                .then((request) => {
                    let images = request.data.data;
                    if (images.length) {
                        this.images = this.images.concat(images);
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                })
                .catch((error) => {
                  notify_error(this);
                });
            },
        },
        computed: {
            ...mapGetters([
                'IMAGES_URL_PARAMS',
            ]),
        },
    }
</script>

<style scoped>
    .v-images-loading-home {
        font-family: Open Sans, sans-serif;
    }

    .v-images-loading-home .container {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        max-width: 1828px;
        margin: 0 auto;
    }
</style>
