<template>
    <div class="v-images">
        <div class="container">
            <v-image-item
                    v-for="image in IMAGES_CATALOG"
                    :key="image.id"
                    :image="image"
            >
            </v-image-item>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    import VImageItem from "./v-image-item";

    export default {
        name: "v-images",
        components: {
            VImageItem,
        },
        data() {
            return {
                images: [],
            }
        },
        computed: {
            ...mapGetters([
                'IMAGES_CATALOG'
            ]),
        },
        methods: {
            ...mapActions([
                'GET_IMAGES'
            ])
        },
        mounted() {
            this.GET_IMAGES()
        }
    }
</script>

<style scoped>
    .v-images {
        font-family: Open Sans, sans-serif;
    }

    .v-images .container {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        max-width: 1828px;
        margin: 0 auto;
    }
</style>
