<template>
  <div class="v-images-loading-catalog">
    <div class="container">
      <v-image-item
          v-for="image in this.$store.state.images.catalog"
          :key="image.id"
          :image="image"
      >
      </v-image-item>
    </div>
    <infinite-loading ref="InfiniteLoading" :distance="200" @infinite="infiniteHandler"></infinite-loading>
  </div>
</template>

<script>
import VImageItem from "./v-image-item";
import axios from "axios";
import route from "../../halpers/route";
import {mapActions, mapGetters} from "vuex";
import notify_errors from "../../halpers/notify_errors";
import notify_error from "../../halpers/notify_error";

export default {
  name: "v-images-loading-catalog",
  components: {
    VImageItem,
  },
  data() {
    return {
      images: [],
    }
  },
  methods: {
    ...mapActions([
      'ADD_IMAGES_PAGE'
    ]),
    infiniteHandler($state) {
      let url_params = {
        page: this.IMAGES_PAGE,
        filters: this.IMAGES_FILTERS,
        sort: this.IMAGES_SORT,
      }
      this.ADD_IMAGES_PAGE(++this.$store.state.images.url_params.page)
      //this.$store.commit('SET_IMAGES_PAGE', ++this.$store.state.images.url_params.page)
      this.$store.state.handler = $state

      axios.get(route('images.index'), {
        params: url_params
      })
          .then((request) => {
            let images = request.data.data;
            if (images.length) {
              this.$store.state.images.catalog = this.$store.state.images.catalog.concat(images);
              $state.loaded();
            } else {
              $state.complete();
            }
          })
          .catch((error) => {
            notify_error(this);
          });
    },
  },
  computed: {
    ...mapGetters([
      'IMAGES_FILTERS',
      'IMAGES_PAGE',
      'IMAGES_SORT'
    ]),
  },
  watch: {
    '$store.state.images.url_params.filters': {
      immediate: false,
      deep: true,
      handler() {
        this.$store.state.images.url_params.page = 1;
        if (this.$refs.InfiniteLoading) {
          this.$refs.InfiniteLoading.stateChanger.reset();
        }
      },
    },
    '$store.state.images.url_params.sort': {
      immediate: false,
      handler() {
        this.$store.state.images.url_params.page = 1;
        if (this.$refs.InfiniteLoading) {
          this.$refs.InfiniteLoading.stateChanger.reset();
        }
      },
    },
  },
}
</script>

<style scoped>
.v-images-loading-catalog {
  font-family: Open Sans, sans-serif;
}

.v-images-loading-catalog .container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1828px;
  margin: 0 auto;
}
</style>
