<template>
  <div class="v-image-item-dashboard">
    <div class="images__menu-top menu-top">
      <div class="menu-top__left"></div>
      <div class="menu-top__right">
        <a
            class="menu-image_edit_outline"
            v-b-modal.edit_modal_image_dashboard
        >
          <v-icon @click="onClickEditImage"
              v-text="icons.image_edit_outline"
          ></v-icon>
        </a>
        <a
            class="menu-delete_outline"
            v-b-modal.delete_modal_image_dashboard
        >
          <v-icon @click="onClickEditImage"
              v-text="icons.delete_outline"
          ></v-icon>
        </a>
      </div>
    </div>
    <router-link
        :to="{name:'catalog_image', params: { slug: image.slug}}"
        class="router_link">
      <img :style="sizeImg()"
           :srcset="setImg()"
           :src="image.image_src"
           :alt="image.name"
           class="images__image"
      >
    </router-link>
    <div class="images__menu-bottom menu-bottom">
      <div class="menu-bottom__left"></div>
      <div class="menu-bottom__right">
        <p href="#" class="menu-bottom__stars">
          <v-icon
              v-text="icons.eye_outline"
          ></v-icon>
          {{ image.view }}
        </p>
        <p href="#" class="menu-bottom__likes">
          <v-icon
              v-text="icons.thumb_up"
          ></v-icon>
          {{ image.like }}
        </p>
        <p href="#" class="menu-bottom__comments">
          <v-icon
              v-text="icons.comment_outline"
          ></v-icon>
          {{ image.synthetic.count_comments }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>

import VEditDashboardImage from "../modal/v-edit-dashboard-image";

export default {
  name: "v-image-item-dashboard",
  components: {},
  data: () => ({
    icons: {
      eye_outline: '$vuetify.icons.eye_outline',
      thumb_up: '$vuetify.icons.thumb_up',
      comment_outline: '$vuetify.icons.comment_outline',
      image_edit_outline: '$vuetify.icons.image_edit_outline',
      delete_outline: '$vuetify.icons.delete_outline',
    },
  }),
  props: {
    image: {
      type: Object,
      default() {
        return {}
      }
    },
    setImageIdByEditClick: {
      default() {
        return 0
      }
    },
  },
  methods: {
    setImg() {
      return this.image.image_src + ' 1x,' + this.image.image_src + ' 2x';
    },
    sizeImg() {
      let size = 'width:427px;height:640px';

      if (this.image.image_orientation_id === 1) {
        size = 'width:640px;height:426px'
      }

      return size;
    },
    getModalName() {
      return 'edit_modal_image_dashboard'
    },
    onClickEditImage (event) {
      this.$emit('onClickEditImage', this.image.id, this.image.image_category_id)
    }
  },
  computed: {},
  mounted() {

  }
}
</script>

<style scoped>

.v-image-item-dashboard {
  position: relative;
  margin: 5px;
  flex: 0 0 calc(25% - 10px);
  width: calc(25% - 10px);
  overflow: hidden;
  height: 250px;
}

.images__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 1499px) {
  .images__image, .v-image-item-dashboard {
    height: 250px;
  }
}

@media (max-width: 1226px) {
  .v-image-item-dashboard {
    flex: 0 0 calc(33.333% - 10px);
    max-width: calc(33.333% - 10px);
  }
}

@media (max-width: 1049px) {
  .images__image, .v-image-item-dashboard {
    height: 200px;
  }
}

@media (max-width: 999px) {
  .images__image, .v-image-item-dashboard {
    height: 200px;
  }
}

@media (max-width: 799px) {
  .images__image, .v-image-item-dashboard {
    height: 250px;
  }

  .v-image-item-dashboard {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 706px) {
  .images__image, .v-image-item-dashboard {
    height: 230px;
  }
}

@media (max-width: 583px) {
  .images__image, .v-image-item-dashboard {
    height: 180px;
  }
}

@media (max-width: 478px) {
  .images__image, .v-image-item-dashboard {
    height: 160px;
  }
}

@media (max-width: 425px) {
  .images__image, .v-image-item-dashboard {
    height: 220px;
  }

  .v-image-item-dashboard {
    flex: 0 0 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}

@media (max-width: 375px) {
  .images__image, .v-image-item-dashboard {
    height: 180px;
  }
}

.images__menu-bottom {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: opacity .3s ease,
  bottom .3s ease;
  opacity: 0;
}

.v-image-item-dashboard:hover .images__menu-bottom {
  bottom: 0;
  opacity: 1;
}

.images__menu-top {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: opacity .3s ease,
  top .3s ease;
  opacity: 0;
}

.v-image-item-dashboard:hover .images__menu-top {
  top: 0;
  opacity: 1;
}

.v-image-item-dashboard .menu-bottom {
  padding: 15px 15px 7px 15px;
  box-sizing: border-box;
  background: linear-gradient(to top, #0009, #0000);
  display: flex;
  align-items: center;
}

.v-image-item-dashboard .menu-top {
  padding: 15px 15px 7px 15px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #0009, #0000);
  display: flex;
  align-items: center;
}

.v-image-item-dashboard .menu-bottom p {
  text-decoration: none;
  color: #fff !important;
  margin: 0 12px 0 0;
  transition: opacity .2s ease;
}

.v-image-item-dashboard .menu-top a {
  text-decoration: none;
  color: #fff !important;
  margin: 0 12px 0 0;
  transition: opacity .2s ease;
}

.v-image-item-dashboard .menu-bottom p:hover {
  opacity: 0.5;
}

.v-image-item-dashboard .menu-bottom p:last-child {
  margin: 0;
}

.v-image-item-dashboard .menu-bottom__left {
}

.v-image-item-dashboard .menu-bottom__user {
}

.v-image-item-dashboard .menu-bottom__right {
  display: flex;
}

.v-image-item-dashboard .menu-top a:hover {
  opacity: 0.5;
}

.v-image-item-dashboard .menu-top a:last-child {
  margin: 0;
}

.v-image-item-dashboard .menu-top__left {
}

.v-image-item-dashboard .menu-top__user {
}

.v-image-item-dashboard .menu-top__right {
  display: flex;
}

@media (max-width: 767px) {
  .menu-bottom__right {
    display: none !important;
  }

  .menu-top__right {
    display: none !important;
  }
}

.v-image-item-dashboard .menu-bottom__likes {
}

.v-image-item-dashboard .menu-bottom__icon-likes {
  display: inline-block;
  width: 15px;
  height: 14px;
  background-position: 0 -200px;
}

.v-image-item-dashboard .menu-bottom__stars {
}

.v-image-item-dashboard .menu-bottom__icon-stars {
  display: inline-block;
  width: 15px;
  height: 14px;
  background-position: -50px -200px;
}

.v-image-item-dashboard .menu-bottom__comments {

}

.v-image-item-dashboard .menu-bottom__icon-comments {
  display: inline-block;
  width: 14px;
  height: 13px;
  background-position: -200px -250px;
}

.images__menu-bottom i {
  font-size: 17px;
  color: #e7e7e7;
}

.images__menu-top i {
  font-size: 25px;
  color: #ffffff;
}

.v-icon.v-icon.v-icon--link {
  cursor: pointer;
  outline: none;
  font-size: 25px;
  color: #ffffff;
}
</style>
