<template>
    <div class="v-image-item">
        <router-link
                :to="{name:'catalog_image', params: { slug: image.slug}}"
                class="router_link">
            <img :style="sizeImg()"
                 :srcset="setImg()"
                 :src="image.image_src"
                 :alt="image.name"
                 class="images__image"
            >
        </router-link>
        <div class="images__menu-bottom menu-bottom">
            <div class="menu-bottom__left">
                <a href="#" class="menu-bottom__user">{{ image.user.name }}</a>
            </div>
            <div class="menu-bottom__right">
              <a href="#" class="menu-bottom__stars">
                <v-icon
                    v-text="icons.eye_outline"
                ></v-icon>
                {{ image.view }}
              </a>
                <a href="#" class="menu-bottom__likes">
                  <v-icon
                      v-text="icons.thumb_up"
                  ></v-icon>
                  {{ image.like }}
                </a>

                <a href="#" class="menu-bottom__comments">
                  <v-icon
                      v-text="icons.comment_outline"
                  ></v-icon>
                  {{ image.synthetic.count_comments }}
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "v-image-item",
      data: () => ({
        icons: {
          eye_outline: '$vuetify.icons.eye_outline',
          thumb_up: '$vuetify.icons.thumb_up',
          comment_outline: '$vuetify.icons.comment_outline',
        },
      }),
        props: {
            image: {
                type: Object,
                default() {
                    return {}
                }
            }
        },
        methods: {
            setImg() {
                return this.image.image_src + ' 1x,' + this.image.image_src + ' 2x';
            },
            sizeImg() {
                let size = 'width:427px;height:640px';

                if (this.image.image_orientation_id === 1) {
                    size = 'width:640px;height:426px'
                }

                return size;
            }
        },
        computed: {},
        mounted() {

        }
    }
</script>

<style scoped>

    .v-image-item {
        position: relative;
        margin: 5px;
        flex: 0 0 calc(25% - 10px);
        width: calc(25% - 10px);
        overflow: hidden;
        height: 250px;
    }

    .images__image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    @media (max-width: 1499px) {
        .images__image, .v-image-item {
            height: 250px;
        }
    }

    @media (max-width: 1226px) {
        .v-image-item {
            flex: 0 0 calc(33.333% - 10px);
            max-width: calc(33.333% - 10px);
        }
    }

    @media (max-width: 1049px) {
        .images__image, .v-image-item {
            height: 200px;
        }
    }

    @media (max-width: 999px) {
        .images__image, .v-image-item {
            height: 200px;
        }
    }

    @media (max-width: 799px) {
        .images__image, .v-image-item {
            height: 250px;
        }

        .v-image-item {
            flex: 0 0 calc(50% - 10px);
            max-width: calc(50% - 10px);
        }
    }

    @media (max-width: 706px) {
        .images__image, .v-image-item {
            height: 230px;
        }
    }

    @media (max-width: 583px) {
        .images__image, .v-image-item {
            height: 180px;
        }
    }

    @media (max-width: 478px) {
        .images__image, .v-image-item {
            height: 160px;
        }
    }

    @media (max-width: 425px) {
        .images__image, .v-image-item {
            height: 220px;
        }

        .v-image-item {
            flex: 0 0 calc(100% - 10px);
            max-width: calc(100% - 10px);
        }
    }

    @media (max-width: 375px) {
        .images__image, .v-image-item {
            height: 180px;
        }
    }

    .images__menu-bottom {
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: opacity .3s ease,
        bottom .3s ease;
        opacity: 0;
    }

    .v-image-item:hover .images__menu-bottom {
        bottom: 0;
        opacity: 1;
    }

    .v-image-item .menu-bottom {
        padding: 15px 15px 7px 15px;
        box-sizing: border-box;
        background: linear-gradient(to top, #0009, #0000);
        display: flex;
        align-items: center;
    }

    .v-image-item .menu-bottom a {
        text-decoration: none;
        color: #fff !important;
        margin: 0 12px 0 0;
        transition: opacity .2s ease;
    }

    .v-image-item .menu-bottom a:hover {
        opacity: 0.5;
    }

    .v-image-item .menu-bottom a:last-child {
        margin: 0;
    }

    .v-image-item .menu-bottom__left {
    }

    .v-image-item .menu-bottom__user {
    }

    .v-image-item .menu-bottom__right {
        display: flex;
    }

    @media (max-width: 767px) {
        .menu-bottom__right {
            display: none !important;
        }
    }

    .v-image-item .menu-bottom__likes {
    }

    .v-image-item .menu-bottom__icon-likes {
        display: inline-block;
        width: 15px;
        height: 14px;
        background-position: 0 -200px;
    }

    .v-image-item .menu-bottom__stars {
    }

    .v-image-item .menu-bottom__icon-stars {
        display: inline-block;
        width: 15px;
        height: 14px;
        background-position: -50px -200px;
    }

    .v-image-item .menu-bottom__comments {

    }

    .v-image-item .menu-bottom__icon-comments {
        display: inline-block;
        width: 14px;
        height: 13px;
        background-position: -200px -250px;
    }
    .images__menu-bottom i {
      font-size: 17px;
      color: #ffffff;
    }
</style>
