<template>
    <div class="v-images-loading-catalog-dashboard">
        <div class="forum" style="margin:40px auto 0;padding:0 20px;max-width:1040px">
            <a
                class="pure-button button-md button-green button__images"
                v-b-modal.modal_image_dashboard
            >
                Загрузить фото
            </a>

            <h1 class="h__images">
                <a>
                    Мои фото
                </a>
            </h1>
            <div class="container">
                <v-image-item-dashboard
                    v-for="image in this.$store.state.images.dashboard.images"
                    :key="image.id"
                    :image="image"
                    @onClickEditImage="setImageIdByEditClick"
                >
                </v-image-item-dashboard>
            </div>
            <infinite-loading ref="InfiniteLoading" :distance="200" @infinite="infiniteHandler"></infinite-loading>
        </div>

        <v-new-dashboard-image></v-new-dashboard-image>
        <v-edit-dashboard-image
            :image_id="image_id"
            :image_category_id="image_category_id"
        ></v-edit-dashboard-image>
        <v-delete-dashboard-image
            :image_id="image_id"
        ></v-delete-dashboard-image>
    </div>
</template>

<script>
import VImageItemDashboard from './v-image-item-dashboard';
import axios from 'axios';
import route from '../../halpers/route';
import {mapActions, mapGetters} from 'vuex';
import VNewDashboardImage from '../modal/v-new-dashboard-image';
import constants from '../../halpers/constants';
import VEditDashboardImage from '../modal/v-edit-dashboard-image';
import VDeleteDashboardImage from '../modal/v-delete-dashboard-image';
import notify_errors from '../../halpers/notify_errors';
import notify_error from '../../halpers/notify_error';

export default {
    name: 'v-images-loading-catalog-dashboard',
    components: {
        VDeleteDashboardImage,
        VNewDashboardImage,
        VImageItemDashboard,
        VEditDashboardImage,
    },
    data() {
        return {
            images: [],
            image_id: 0,
            image_category_id: 0,
        };
    },
    methods: {
        ...mapActions([
            'ADD_IMAGES_DASHBOARD_PAGE',
            'GET_DICTIONARIES',
        ]),
        infiniteHandler($state) {

            let filters = {};

            if (Object.keys(this.$store.state.images.dashboard.url_params.filters).length > 0) {
                filters = {...this.$store.state.images.dashboard.url_params.filters, ...filters};
            }

            let url_params = {
                page: this.IMAGES_DASHBOARD_PAGE,
                filters: {images: filters},
            };

            this.ADD_IMAGES_DASHBOARD_PAGE(++this.$store.state.images.dashboard.url_params.page);

            this.$store.state.handler = $state;

            axios.get(route('profiles.show'), {
                params: url_params,
            }).then((request) => {
                let response = request.data;
                let images = response.data.images;

                if (response.status === 401) {
                    this.$router.push({name: 'login'});
                }

                if (images.length) {
                    this.$store.state.images.dashboard.images = this.$store.state.images.dashboard.images.concat(
                        images);
                    $state.loaded();
                }
                else {
                    $state.complete();
                }
            }).catch((error) => {
                notify_error(this);
            });
        },
        setImageIdByEditClick(image_id, image_category_id) {
            this.image_id = image_id;
            this.image_category_id = image_category_id;
        },
    },
    computed: {
        ...mapGetters([
            'IMAGES_DASHBOARD_PAGE',
        ]),
    },
    mounted() {
        this.GET_DICTIONARIES();
    },
    watch: {
        '$store.state.images.dashboard.url_params.filters': {
            immediate: false,
            deep: true,
            handler() {
                if (this.$refs.InfiniteLoading) {
                    this.$refs.InfiniteLoading.stateChanger.reset();
                }
            },
        },
    },
};
</script>

<style scoped>
.v-images-loading-catalog-dashboard {
    font-family: Open Sans, sans-serif;
}

.v-images-loading-catalog-dashboard .container {
    padding: 15px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1828px;
    margin: 0 auto;
}

.h__images {
    color: #191b26;
    font-family: Open Sans, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 5px;
    position: relative;
    top: 2px
}

.h__images a {
    color: #555;
    text-decoration: none;
}

.h__images a:hover {
    text-decoration: underline;
}

.pure-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 0 transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button:focus, .pure-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000", GradientType=0);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.pure-button:focus {
    outline: 0;
}

.pure-button:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 0 6px rgba(0, 0, 0, .2);
    border-color: #000;
}

.pure-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.pure-button {
    padding: 10px 22px;
    text-decoration: none !important;
    border-radius: 50px !important;
}

.pure-button:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1)) !important;
}

.button-green {
    color: #fff !important;
    background-color: #02be6e !important;
}

.button-md {
    padding: 7px 17px;
    font-size: 13px;
}

.button__images {
    float: right;
    position: relative;
    top: 4px;
    margin-left: 20px;
    z-index: 9
}
</style>
