.posts {
    font-family: Open Sans, sans-serif;
}

.posts .container {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
}

.posts__title {
    font-size: 30px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
}

.posts__list {
    display: flex;
    flex-wrap: wrap;
}

.posts__item {
    margin: 30px;
    flex: 0 0 calc(33.3333% - 60px);
}

@media(max-width: 1120px) {
    .posts__item {
        margin: 25px 15px;
        flex: 0 0 calc(33.3333% - 30px);
    }
}
@media(max-width: 869px) {
    .posts__item {
        margin: 25px 15px;
        flex: 0 0 calc(50% - 30px);
    }
}
@media(max-width: 599px) {
    .posts__item {
        margin: 15px;
        flex: 0 0 calc(100% - 30px);
    }
}

.posts__link {
    text-decoration: none;
    transition: opacity .2s ease;
}

.posts__link:hover,
.posts__link:hover .posts__item-title {
    opacity: 0.8;
}

.posts__image {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

@media(max-width: 1199px) {
    .posts__image {
        height: 220px;
    }
}
@media(max-width: 979px) {
    .posts__image {
        height: 180px;
    }
}
@media(max-width: 869px) {
    .posts__image {
        height: 260px;
    }
}
@media(max-width: 778px) {
    .posts__image {
        height: 220px;
    }
}
@media(max-width: 669px) {
    .posts__image {
        height: 180px;
    }
}
@media(max-width: 599px) {
    .posts__image {
        height: 260px;
    }
}
@media(max-width: 449px) {
    .posts__image {
        height: 200px;
    }
}
@media(max-width: 349px) {
    .posts__image {
        height: 160px;
    }
}

.posts__item-title {
    color: #191b26!important;
    margin: 15px 0 10px;
    line-height: 1.6;
    transition: opacity .2s ease;
}

.posts__info {
    font-size: 14px;
    color: #777;
}

.posts__info a {
    text-decoration: none;
    color: #777 !important;
    transition: opacity .2s ease;
}

.posts__info a:hover {
    opacity: 0.8;
}
