<template>
  <div class="v-dashboard-forum-page">
    <v-header-menu></v-header-menu>
    <div class="container">
      <div class="wrapper">
        <v-dashboard-menu></v-dashboard-menu>
        <div class="content">
          <v-dashboard-forum></v-dashboard-forum>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VHeaderMenu from "../../sections/v-header-menu";
import VDashboardMenu from "../sections/v-dashboard-menu";
import VDashboardForum from "../sections/v-dashboard-forum";

    export default {
      name: "v-dashboard-forum-page",
      components: {VDashboardForum, VDashboardMenu, VHeaderMenu}
    }
</script>

<style scoped>
* {
  box-sizing:border-box;
}
.container{
  margin: 0  auto;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;

}
.content {
  clear:both;
  position: relative;
  display: flex;
}
@media screen and (max-width: 992px){
  .content{
    flex-direction: column;
  }
}
</style>