<template>
  <div class="comments v-comments-loading-image">
    <router-link
        v-if="!$auth.check()"
        style="background-color: #008ddf"
        class="ua-engagement-comment pure-button button-md"
        :to="{ name: 'login' }">
      <span style="color: #fff">Комментировать</span>
    </router-link>
    <div class="ajax_form pure-form" v-if="$auth.check()">
      <table>
        <tbody>
        <tr>
          <td>
            <img v-if="IMAGE.user !== undefined" :src="IMAGE.user.profile.image_src" alt="">
          </td>
          <td style="padding-bottom:0">
            <textarea v-model="comment_description"
                      placeholder="Добавить ваш комментарий ..." class="autosize autosized"
                      style="width: 100%; height: 62px; overflow: hidden; overflow-wrap: break-word;"
                      maxlength="2000"
            >

            </textarea>
          </td>
        </tr>
        <tr class="comment_submit">
          <td></td>
          <td style="padding-top:0">
            <p class="notification_option" style="margin:0 0 10px 1px">
              <label style="display:inline;font-size:14px">
                <input name="subscribe" value="true" type="checkbox">
                Уведомления о новых сообщениях по электронной почте
              </label>
            </p>
            <button
                class="ua-engagement-comment pure-button button-green button-md"
                @click="addComment()"
            >Отправить
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <table class="comment_list">
      <tbody>
      <v-comment-item-image
          v-for="comment in comments"
          :key="comment.id"
          :comment="comment"
      ></v-comment-item-image>
      </tbody>
    </table>
    <infinite-loading @distance="1" @infinite="infiniteHandler"></infinite-loading>
  </div>
</template>

<script>

import axios from "axios";
import route from "../../halpers/route";
import dateFormat from "../../dateformat/dateformat";
import VCommentItemImage from "./v-comment-item-image";
import {mapGetters} from "vuex";
import constants from "../../halpers/constants";
import notify_errors from "../../halpers/notify_errors";
import notify_error from "../../halpers/notify_error";

export default {
  name: "v-comments-loading-image",
  components: {VCommentItemImage, dateFormat},
  data() {
    return {
      comments: [],
      page: 1,
      image_slug: '',
      comment_description: '',
    }
  },
  computed: {
    ...mapGetters([
      'IMAGE',
    ]),

  },
  methods: {
    infiniteHandler($state) {
      let page = this.page++;
      let imageSlug = this.$route.params.slug ?? this.image_slug;

      axios.get(route('comments.index'), {
        params: {
          page: page,
          filters: {
            image_slug: imageSlug,
          }
        }
      })
          .then((request) => {
            let comments = request.data.data;

            if (comments.length) {
              this.comments = this.comments.concat(comments);

              if($state !== undefined){
                $state.loaded();
              }
            } else {
              if($state !== undefined){
                $state.complete();
              }
            }
          })
          .catch((error) => {
            notify_error(this);
          });
    },
    addComment: function () {
      let name = this.strip_tags(this.editorCommentData);
      let entity_id = this.IMAGE.id;
      axios.post(route('comments.store'), {
        name: name.substr(0, 40) + '...',
        description: this.comment_description,
        entity_type_id: constants.entity_types.image,
        entity_type: constants.entity_types.image_type,
        entity_id: Number(entity_id),
      })
          .then((request) => {
            let comments = request.data.data;
            this.comments = [comments, ...this.comments];
            this.comment_description = '';
          })
          .catch((error) => {
            notify_errors(this, error.response.data.errors);
          });
    },
    strip_tags(html) {
      let tmp = document.createElement("div");
      tmp.innerHTML = html;

      return tmp.textContent || tmp.innerText;
    },
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler() {
        this.page = 1;
        this.comments = [];
        this.infiniteHandler();
      },
    },
  },
}
</script>

<style scoped>
/*** uncss> filename: block5/block5.css ***/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 400i, 600, 700, 700i&display=swap");

.photo a {
  background-color: transparent;
}

.photo a:active, .photo a:hover {
  outline: 0;
}

.photo b {
  font-weight: 700;
}

.photo h1 {
  font-size: 2em;
  margin: .67em 0;
}

.photo img {
  border: 0;
}

.photo input, .photo textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.photo input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.photo input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.photo input {
  line-height: normal;
}

.photo input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.photo textarea {
  overflow: auto;
}

.photo table {
  border-spacing: 0;
}

.photo td, .photo th {
  padding: 0;
}

.photo .pure-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.photo .pure-form textarea:focus {
  outline: 0;
  border-color: #129fea;
}

.photo .pure-form input[type=checkbox]:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}

.photo .pure-form input:focus:invalid, .photo .pure-form textarea:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

.photo .pure-form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d;
}

.photo .pure-form label {
  margin: .5em 0 .2em;
}

@media only screen and (max-width: 480px) {
  .photo .pure-form label {
    margin-bottom: .3em;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo .hide-md {
    display: none !important;
  }
}

.photo h1, .photo html, .photo input, .photo textarea {
  color: #191b26;
  font-family: Open Sans, sans-serif;
}

.photo input, .photo textarea {
  border-radius: 2px !important;
  resize: none;
}

.photo :focus:required {
  border-color: #129fea !important;
}

.photo :invalid {
  color: #555 !important;
}

.photo .pure-button {
  padding: 10px 22px;
  text-decoration: none !important;
  border-radius: 50px !important;
}

.photo * {
  margin: 0;
}

.photo a {
  color: #0a88d3;
  text-decoration: none;
  cursor: pointer;
}

.photo p {
  margin: 0 0 10px;
  line-height: 1.6;
}

.photo a, .photo input, .photo textarea {
  outline: none !important;
}

.photo h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 25px;
}

.photo h1 a {
  color: #555;
}

.photo h1 a:hover {
  text-decoration: underline;
}

.photo table {
  width: 100%;
  border-collapse: collapse;
}

.photo table td, .photo table th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

.photo label:not([class=checkbox]) {
  display: block;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.photo ::-webkit-input-placeholder {
  color: #bbb !important;
}

.photo ::-moz-placeholder {
  color: #bbb !important;
}

.photo :-ms-input-placeholder {
  color: #bbb !important;
}

.photo [placeholder] {
  text-overflow: ellipsis;
}

.photo ::-ms-clear {
  display: none;
}

.photo .clearfix:after, .photo .clearfix:before {
  display: table;
  content: ""
}

.photo .clearfix:after {
  clear: both;
}

.photo .clearfix {
  zoom: 1;
}

.photo .text {
  margin: 10px 0 0;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.photo .hover_opacity {
  opacity: 1;
  transition: opacity .2s;
}

.photo .hover_opacity:hover {
  opacity: .7;
}

.photo .check {
  font-style: normal;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
  line-height: 12px;
}

.media_show .left {
  width: 100%;
  float: left;
  margin-right: -300px;
}

.media_show .left .inside {
  margin-right: 300px;
  padding-right: 50px;
}

.media_show .right {
  width: 300px;
  float: right;
  margin-bottom: 10px;
  position: relative;
}

@media screen and (max-width: 1180px) {
  .media_show .left {
    margin-right: -275px;
  }

  .media_show .left .inside {
    margin-right: 275px;
    padding-right: 25px;
  }

  .media_show .right {
    width: 275px;
  }
}

@media screen and (max-width: 850px) {
  .media_show {
    margin-top: 24px;
  }

  .media_show .left {
    margin: 0 0 20px;
  }

  .media_show .left .inside {
    margin: 0;
    padding: 0;
  }

  .media_show .right {
    width: 100%
  }

  .media_show #details td {
    text-align: left !important;
    padding-left: 30px !important;
  }
}

.media_show #details td, .media_show #details th {
  white-space: nowrap;
  font-size: 14px;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #636363;
}

.media_show #details th {
  width: 1%;
  padding-right: 10px;
}

.media_show #details td {
  text-align: right;
}

.media_show .like_buttons {
  margin: 20px 0;
  padding: 16px 0 14px;
  border: 1px solid #eeeff2;
  border-left: 0;
  border-right: 0;
}

.media_show .like_buttons .pure-button {
  display: inline-block;
  padding: 0 15px;
  width: 28%;
  height: 28px;
  line-height: 27px;
  font-size: 13px;
  max-width: 100px;
}

.media_show .like_buttons .pure-button i {
  vertical-align: middle;
}

.media_show .like_buttons .pure-button b {
  vertical-align: middle;
  margin-left: 8px;
}

.photo .dd_box + div {
  display: none;
  position: absolute;
  z-index: 999;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  color: #9aa2b0;
  background: #191b26;
}

.photo .flex_grid .item img {
  display: block;
  width: 100%;
  height: auto;
}

.comments td {
  padding: 10px 0 15px 10px;
}

.comments td:first-child {
  width: 48px;
  padding-left: 0;
}

.comments td img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.comment_list {
  table-layout: fixed;
  margin: 10px 0 0;
  font-size: 14px;
}

.comment_list td {
  position: relative;
  border-top: 1px solid #eee;
}

.comments .options {
  position: absolute;
  right: 0;
  top: 10px;
  display: none;
}

.comments tr:hover .options {
  display: block;
}

.comments .options a {
  color: #777;
  font-size: 12px;
  margin-left: 10px;
}

.comments .options a:hover {
  text-decoration: underline;
}

.button-green {
  color: #fff !important;
  background-color: #02be6e !important;
}
</style>
