<template>
  <tr>
    <td>
      <div style="width:180px" class="hide-xs hide-sm hide-md"></div>
      <a href="#" v-if="article_user()">
        <img :src="comment.user.profile.image_src">
      </a>
      <span style="display:block;white-space:nowrap">
                        <a href="#">{{ comment.user.name }}</a>
                        <br>
                        Сообщения: {{ comment.user.synthetic.count_comments }}
                        <br>
                        <a href="#">Сообщение</a>
                    </span>
    </td>
    <td>
      <!--            <div class="options hide-xs">-->
      <!--                <a href="#">Ответ</a>-->
      <!--                <a class="ajax">Сообщить о спаме</a>-->
      <!--                <a class="translate">Перевести</a>-->
      <!--            </div>-->
      <i>{{ new Date(comment.created_at) | dateFormat('DD.MM.YYYY HH:mm') }}</i>
      <div v-html="comment.description" class="post">
        {{ comment.description }}
      </div>
    </td>
  </tr>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "v-comment-item-article",
  props: {
    comment: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  methods: {
    article_user() {
      let user = this.ARTICLE.user;
      if (user !== undefined) {
        return user;
      }
      return false;
    },
  },
  computed: {
    ...mapGetters([
      'ARTICLE'
    ]),
  },
  mounted() {

  }
}
</script>

<style scoped>
.forum-question td,
.forum-question th {
  padding: 0;
}

.forum-question table td,
.forum-question table th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

.forum-question .forum_posts td,
.forum-question .forum_posts th {
  padding: 12px 10px;
  vertical-align: top;
  font-weight: 400;
  line-height: 1.5;
}

.forum-question .forum_posts th {
  width: auto;
  background: #f6f5fa;
  border-top: 1px solid #f0f1f4;
  border-bottom: 1px solid #f0f1f4;
  font-size: 14px;
}

.forum-question .forum_posts td {
  color: #2e3539;
  background: #fff;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}

.forum-question .forum_posts td:first-child span {
  color: #777;
  font-size: 13px;
}

.forum-question .forum_posts td:last-child {
  min-width: 120px;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forum-question .forum_posts td:first-child {
  width: 1%;
}

.forum-question .forum_posts td:first-child img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.forum-question .forum_posts .options {
  float: right;
  margin-left: 10px;
  font-size: 12px;
}

.forum-question .forum_posts .options a {
  color: #777;
  margin-left: 10px;
}

.forum-question .forum_posts .post {
  margin: 10px 0 0;
  font-size: 13px;
  word-wrap: break-word;
  white-space: normal;
  color: #555;
}
</style>
