<template>
        <tr  class="v-comment-item-image">
            <td>
                <img :src="comment.user.profile.image_src" alt="">
            </td>
            <td>
                <div class="options hide-md">
                    <a class="translate">Перевести</a>
                </div>
                <div style="font-size:14px">
                    {{comment.user.name}}
                    <span style="font-size:12px;color:#999">&nbsp;
                                                {{ new Date(comment.user.created_at) | dateFormat('DD.MM.YYYY') }}
                                                </span>
                </div>
                <div class="text linkify" v-html="comment.description">{{comment.description}}</div>
            </td>
        </tr>
</template>

<script>
    export default {
        name: "v-comment-item-image",
        props: {
            comment: {
                type: Object,
                default() {
                    return {}
                }
            }
        },
        methods: {
            
        },
        computed: {},
        mounted() {

        }
    }
</script>

<style scoped>
    .v-comment-item-image td {
        padding: 10px 0 15px 10px;
        position: relative;
        border-top: 1px solid #eee;
    }
    .v-comment-item-image td:first-child {
        width: 48px;
        padding-left: 0;
    }
    .v-comment-item-image td img {
        width: 48px;
        height: 48px;
        border-radius: 48px;
    }

    .v-comment-item-image .options {
        position: absolute;
        right: 0;
        top: 10px;
        display: none;
    }
    .v-comment-item-image tr:hover .options {
        display: block;
    }
    .v-comment-item-image .options a {
        color: #777;
        font-size: 12px;
        margin-left: 10px;
    }
    .v-comment-item-image .options a:hover {
        text-decoration: underline;
    }
</style>
