<template>
  <div class="v-article-item-forum">
    <div class="hide-xs" style="float:right;font-size:15px">
        <span class="views">
          <span>Просмотры</span>
          <br>{{ article.view }}
        </span>
        <span class="replies">
          <span>Коментарии</span>
          <br>{{ article.synthetic.count_comments }}
        </span>
      <span class="last_post hide-sm">
        <span>Последний коментарий</span><br>
        <a href="#" style="display:inline-block">
          <img :src="article.synthetic.last_comment.user.profile.image_src">
          <span>{{ article.synthetic.last_comment.user.name }}<br>
              {{ new Date(article.synthetic.last_comment.created_at) | dateFormat('DD.MM.YYYY') }}
          </span>
        </a>
      </span>
    </div>
    <div style="overflow:hidden">
      <p style="margin:0 0 5px">
        <router-link :to="{name:'forum_article', params: { slug: article.slug}}">
          {{ article.name }}
        </router-link>
      </p>
      <p style="margin:0 0 8px;color:#636363;font-size:13px" v-html="article.description">
        {{ article.description }}
      </p>
      <div style="color:#777;font-size:12px">
        Создан
        {{ new Date(article.created_at) | dateFormat('DD.MM.YYYY') }}
        <button>
          {{ article.user.name }}
        </button>
        &nbsp;
        <button
            class="hide-xs hide-sm topic hover_opacity inverted"
            @click="article_category_filter(article.article_category.id, article_type_id)"

        >
          {{ article.article_category.name }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import filters_articles_mixin from "../../mixins/filters/filters_articles";
import constants from "../../halpers/constants";

export default {
  name: "v-article-item-forum",
  mixins: [filters_articles_mixin],
  data() {
    return {
      article_type_id: 0,
    }
  },
  props: {
    article: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  methods: {},
  computed: {},
  mounted() {
    this.article_type_id = constants.article_types.forum;
  }
}
</script>

<style scoped>
.forum .forum_topics .last_post, .forum .forum_topics .replies, .forum .forum_topics .views {
  display: inline-block;
  margin: 4px 10px;
  vertical-align: top;
}

.forum .forum_topics .views {
  margin: 4px 10px 10px 50px;
}

.forum .forum_topics .last_post > span, .forum .forum_topics .replies span, .forum .forum_topics .views span {
  display: inline-block;
  margin: 0 0 22px;
  color: #888;
  font-size: 13px;
}

.forum .forum_topics .last_post > span {
  margin: 0 0 7px;
}

.forum .forum_topics .last_post a img {
  float: left;
  width: 48px;
  border-radius: 96px;
}

.forum .forum_topics .last_post a span {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  margin: 6px 0 0 10px;
  font-size: 13px;
  color: #636363;
  line-height: 17px;
}

.forum .forum_topics .topic {
  white-space: nowrap;
  color: #39739d;
  background: #e1ecf4;
  padding: 2px 4px;
  border-radius: 2px;
}
</style>
