<template>
  <div class="v-article-item-blog posts__item">
    <a href="#" class="posts__link">
      <img :src="article.synthetic.image_src" alt="" class="posts__image">
      <h3 class="posts__item-title">{{ article.name }}</h3>
    </a>
    <p class="posts__info">
      <button
          @click="article_category_filter(article.article_category.id, article_type_id)"
      >
        {{ article.article_category.name }}
      </button>
      <span> • {{ new Date(article.created_at) | dateFormat('DD.MM.YYYY') }}</span>
    </p>
  </div>
</template>

<script>
import filters_articles_mixin from "../../mixins/filters/filters_articles";
import constants from "../../halpers/constants";

export default {
  name: "v-article-item-blog",
  mixins: [filters_articles_mixin],
  data() {
    return {
      article_type_id: 0,
    }
  },
  props: {
    article: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  methods: {},
  computed: {},
  mounted() {
    this.article_type_id = constants.article_types.blog;
  }
}
</script>

<style scoped>

.posts__item {
  margin: 30px;
  flex: 0 0 calc(33.3333% - 60px);
}

@media (max-width: 1120px) {
  .posts__item {
    margin: 25px 15px;
    flex: 0 0 calc(33.3333% - 30px);
  }
}

@media (max-width: 869px) {
  .posts__item {
    margin: 25px 15px;
    flex: 0 0 calc(50% - 30px);
  }
}

@media (max-width: 599px) {
  .posts__item {
    margin: 15px;
    flex: 0 0 calc(100% - 30px);
  }
}

.posts__link {
  text-decoration: none;
  transition: opacity .2s ease;
}

.posts__link:hover,
.posts__link:hover .posts__item-title {
  opacity: 0.8;
}

.posts__image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

@media (max-width: 1199px) {
  .posts__image {
    height: 220px;
  }
}

@media (max-width: 979px) {
  .posts__image {
    height: 180px;
  }
}

@media (max-width: 869px) {
  .posts__image {
    height: 260px;
  }
}

@media (max-width: 778px) {
  .posts__image {
    height: 220px;
  }
}

@media (max-width: 669px) {
  .posts__image {
    height: 180px;
  }
}

@media (max-width: 599px) {
  .posts__image {
    height: 260px;
  }
}

@media (max-width: 449px) {
  .posts__image {
    height: 200px;
  }
}

@media (max-width: 349px) {
  .posts__image {
    height: 160px;
  }
}

.posts__item-title {
  color: #191b26 !important;
  margin: 15px 0 10px;
  line-height: 1.6;
  transition: opacity .2s ease;
  display: block;
  font-size: 1.1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.posts__info {
  font-size: 14px;
  color: #777;
}

.posts__info button {
  text-decoration: none;
  color: #777 !important;
  transition: opacity .2s ease;
}

.posts__info button:hover {
  opacity: 0.8;
}
</style>
