<template>
    <div class="v-articles-loading-forum-dashboard forum-wrapper">
        <div class="forum" style="margin:40px auto 0;padding:0 20px;">
            <router-link
                v-if="!$auth.check()"
                :to="{ name: 'login' }"
                class="pure-button button-md button-green button__forum"
            >
                Новая тема
            </router-link>
            <a v-else
               class="pure-button button-md button-green button__forum"
               v-b-modal.modal_article_ckeditor_dashboard
            >
                Новая тема
            </a>
            <!--            <div class="tab_menu hide-xs links__forum">-->
            <!--                <a href="#" >Просмотры</a>-->
            <!--                <a href="#">Ответы</a>-->
            <!--                <a class="selected" href="#">Последние сообщения</a>-->
            <!--            </div>-->
            <h1 class="h__forum">
                <a
                    @click="resetFilters()"
                >
                    Мои темы форума
                </a>
            </h1>
            <div style="border-top:1px solid #f0f1f4;background:#f5f6f7;padding:15px;margin:0 0 30px">
                <form class="pure-form pure-g" v-on:submit.prevent>
                    <div class="pure-u-1-2">
                        <div class="block-form" style="margin-right:20px">
                            <div class="block-form__item" style="position:relative;max-width:300px">
                                <input
                                    type="text"
                                    v-model="search"
                                    @keyup.enter="search_filter(search)"
                                    class="pure-input-1 input__search"
                                    placeholder="Поиск"
                                >
                                <input
                                    class="submit_icon hover_opacity inverted"
                                    type="button" value=""
                                    @click="search_filter(search)"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <select
                            v-model="selected_article_category"
                            class="pure-input-1 select_article_categories block-form__item"
                            @change="article_category_filter(selected_article_category)"
                        >
                            <option
                                v-for="article_category in DICTIONARIES.article_categories"
                                :value="article_category.id">{{ article_category.name }}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="forum_topics hover_links">
                <v-article-item-dashboard
                    v-for="article in this.$store.state.articles.dashboard.articles"
                    :key="article.id"
                    :article="article"
                >
                </v-article-item-dashboard>
            </div>
            <infinite-loading ref="InfiniteLoading" :distance="200" @infinite="infiniteHandler"></infinite-loading>
        </div>
        <v-new-dashboard-article></v-new-dashboard-article>
    </div>
</template>

<script>
import axios from 'axios';
import route from '../../halpers/route';
import {mapActions, mapGetters} from 'vuex';
import filters_articles_mixin_dashboard from '../../mixins/filters/filters_articles_dashboard';
import constants from '../../halpers/constants';
import VNewDashboardArticle from '../modal/v-new-dashboard-article';
import VArticleItemDashboard from './v-article-item-dashboard';
import notify_errors from '../../halpers/notify_errors';
import notify_error from '../../halpers/notify_error';

export default {
    name: 'v-articles-loading-forum-dashboard',
    mixins: [filters_articles_mixin_dashboard],
    components: {
        VArticleItemDashboard,
        VNewDashboardArticle,
    },
    computed: {
        ...mapGetters([
            'DICTIONARIES',
            'ARTICLES_DASHBOARD_PAGE',
        ]),
    },
    data() {
        return {
            selected_article_category: 0,
            search: '',
        };
    },
    methods: {
        ...mapActions([
            'GET_ARTICLES_DASHBOARD',
            'ADD_ARTICLES_DASHBOARD_PAGE',
        ]),
        resetFilters() {
            this.selected_article_category = 0;
            this.search = '';
            this.article_category_filter(0);
            this.search_filter('');
        },
        infiniteHandler($state) {
            let filters = {article_type_id: constants.article_types.forum};

            if (Object.keys(this.$store.state.articles.dashboard.url_params.filters).length > 0) {
                filters = {...this.$store.state.articles.dashboard.url_params.filters, ...filters};
            }

            let url_params = {
                page: this.ARTICLES_DASHBOARD_PAGE,
                filters: {articles: filters},
            };

            this.ADD_ARTICLES_DASHBOARD_PAGE(++this.$store.state.articles.dashboard.url_params.page);
            this.$store.state.handler = $state;

            axios.get(route('profiles.show'), {
                params: url_params,
            }).then((request) => {
                let response = request.data;
                let articles = response.data.articles;

                if (response.status === 401) {
                    this.$router.push({name: 'login'});
                }

                if (articles.length) {
                    this.$store.state.articles.dashboard.articles = this.$store.state.articles.dashboard.articles.concat(
                        articles);
                    $state.loaded();
                }
                else {
                    $state.complete();
                }
            }).catch((error) => {
                notify_error(this);
            });
        },
    },
    watch: {
        '$store.state.articles.dashboard.url_params.filters': {
            immediate: false,
            deep: true,
            handler() {
                this.$store.state.articles.dashboard.url_params.page = 1;
                this.selected_article_category = this.$store.state.articles.dashboard.url_params.filters.article_category_id ??
                    0;
                this.search = this.$store.state.articles.dashboard.url_params.filters.search ?? '';
                if (this.$refs.InfiniteLoading) {
                    this.$refs.InfiniteLoading.stateChanger.reset();
                }
            },
        },
    },
    mounted() {},
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 400i, 600, 700, 700i&display=swap");

.forum {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.forum {
    margin: 0;
}

.forum a {
    background-color: transparent;
}

.forum a:active, .forum a:hover {
    outline: 0;
}

.forum h1 {
    font-size: 2em;
    margin: .67em 0;
}

.forum img {
    border: 0;
}

.forum input, select {
    color: inherit;
    font: inherit;
    margin: 0;
}

.forum select {
    text-transform: none;
}

.submit_icon {
    display: block;
    position: absolute;
    right: 6px;
    top: 7px;
    margin: 0;
    padding: 0;
    border: 0;
    background: url(/img/sprites.png);
    background: url(/img/sprites.svg), none;
    background-position: -200px 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.forum input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.forum-wrapper {
    display: flex;

    justify-content: center;
}

.forum input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.forum input {
    line-height: normal;
}

.forum .pure-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 0 transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
}

.forum .pure-button:focus, .forum .pure-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000", GradientType=0);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.forum .pure-button:focus {
    outline: 0;
}

.forum .pure-button:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 0 6px rgba(0, 0, 0, .2);
    border-color: #000;
}

.forum .pure-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.forum .pure-form input[type=text], .forum .pure-form select {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

.forum .pure-form input[type=text]:focus, .forum .pure-form select:focus {
    outline: 0;
    border-color: #129fea;
}

.forum .pure-form input:focus:invalid, .forum .pure-form select:focus:invalid {
    color: #d33228;
    border-color: #e9322d;
}

.forum .pure-form select {
    height: 2.60em;
    border: 1px solid #ccc;
    background-color: #fff;
}

.forum .pure-form .pure-input-1 {
    width: 100%
}

@media only screen and (max-width: 480px) {
    .forum .pure-form input[type=text] {
        margin-bottom: .3em;
        display: block;
    }

    .pure-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .block-form {
        margin-right: 0 !important;
    }
}

.forum .pure-g {
    letter-spacing: -.31em;
    *letter-spacing: normal;
    *word-spacing: -.43em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, Droid Sans, Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    flex-wrap: wrap;
    display: -ms-flexbox;
    -ms-align-content: flex-start;
    align-content: flex-start;
}

.forum .pure-g {
    word-spacing: -.43em;
}

.forum .pure-g [class*=pure-u] {
    font-family: sans-serif;
}

.forum .pure-u-1-2 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.forum .pure-u-1-2 {
    width: 50%;
    *width: 49.969%
}

@media screen and (max-width: 567px) {
    .forum .hide-xs {
        display: none !important;
    }
}

@media screen and (min-width: 568px) and (max-width: 767px) {
    .forum .hide-sm {
        display: none !important;
    }
}

.forum .pure-g [class*=pure-u], .forum h1, .forum input, .forum select {
    color: #191b26;
    font-family: Open Sans, sans-serif;
}

.forum input, .forum select {
    border-radius: 2px !important;
    resize: none;
}

.forum :focus:required {
    border-color: #129fea !important;
}

.forum :invalid {
    color: #555 !important;
}

.forum .pure-button {
    padding: 10px 22px;
    text-decoration: none !important;
    border-radius: 50px !important;
}

.forum .pure-button:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1)) !important;
}

.forum .button-green {
    color: #fff !important;
    background-color: #02be6e !important;
}

.forum .button-md {
    padding: 8px 17px;
    font-size: 13px;
}

.forum * {
    margin: 0;
}

.forum {
    height: 100%;
    min-width: 320px;
}

.forum a {
    color: #0a88d3;
    text-decoration: none;
    cursor: pointer;
}

.forum p {
    margin: 0 0 10px;
    line-height: 1.6;
}

.forum a, .forum input, .forum select {
    outline: none !important;
}

.forum h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 25px;
}

.forum h1 a {
    color: #555;
}

.forum h1 a:hover {
    text-decoration: underline;
}

.forum ::-webkit-input-placeholder {
    color: #bbb !important;
}

.forum ::-moz-placeholder {
    color: #bbb !important;
}

.forum :-ms-input-placeholder {
    color: #bbb !important;
}

.forum [placeholder] {
    text-overflow: ellipsis;
}

.forum ::-ms-clear {
    display: none;
}

.forum .hover_links a, .forum .hover_opacity {
    opacity: 1;
    transition: opacity .2s;
}

.forum .hover_links a:hover, .forum .hover_opacity:hover {
    opacity: .7;
}

.forum .hover_opacity.inverted {
    opacity: .75;
}

.forum .hover_opacity.inverted:hover {
    opacity: 1;
}

.forum .tab_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f0f1f4;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.forum .tab_menu a {
    display: inline-block;
    padding: 10px 0;
    margin: 0 15px;
    cursor: pointer;
    color: #71767a;
    border-bottom: 2px solid transparent;
    line-height: 24px;
}

.forum .tab_menu a:hover {
    color: #0a88d3;
}

.forum .tab_menu .selected {
    color: #0a88d3;
    border-bottom: 2px solid #0a88d3;
}

.forum .paginator .pure-button {
    margin: 5px 3px;
    padding: 6px 12px;
    font-size: 14px !important;
    color: #777;
    background: #fff;
}

.forum .paginator a.pure-button:hover {
    background: #eee;
}

.forum .paginator .next {
    padding-left: 20px;
    padding-right: 20px;
    background: #f6f5fa;
}

.forum .paginator span.pure-button {
    background: #02be6e !important;
    color: #fff;
    cursor: default;
}

.forum .paginator i {
    font-style: normal;
    display: inline-block;
    font-size: 20px;
    overflow: hidden;
    line-height: 12px;
}

.forum .forum_topics > div {
    margin: 0 0 12px;
    padding: 0 0 25px;
    border-bottom: 1px solid #e4e6e8;
}

.button__forum {
    float: right;
    position: relative;
    top: 4px;
    margin-left: 20px;
    z-index: 9
}

.links__forum {
    float: right;
    border: 0;
    position: relative;
    z-index: 9
}

.h__forum {
    margin: 0 0 5px;
    position: relative;
    top: 2px
}

.h__forum a {
    text-decoration: none;
}

.select_article_categories {
    font-size: 14px;
    padding-top: 6px;
    color: #777 !important;
    max-width: 280px;
    float: right
}

.input__search {
    font-size: 14px !important;
    padding-right: 30px
}

.loupe {
    float: left;
    width: 50px;
    height: 55px;
    border: 0;
    background: url(/img/sprites.svg?1);
    background: url(/img/sprites.svg?1), no-repeat;
    background-position: 15px -83px;
    opacity: .75;
    transition: opacity .3s;
}

.loupe {
    width: 40px;
    height: 31px;
    background-position: -190px 9px;
}

@media screen and (max-width: 960px) {
    .forum .forum_topics > div {
        flex-direction: column;
        align-items: center;
        display: flex;
        width: 100%;

    }
}

@media screen and (max-width: 516px) {
    .forum .pure-form .pure-u-1-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block-form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .block-form__item {
        max-width: 100% !important;
        width: 100% !important;
    }


}
</style>
