<template>
  <div class="v-articles-loading-blog">
    <div class="posts">
      <div class="container">
<!--                <h2 class="posts__title">Последние посты</h2>-->
        <h1 class="h__forum">
          <a
              @click="resetFilters()"
          >
            Новости
          </a>
        </h1>
        <div style="border-top:1px solid #f0f1f4;background:#f5f6f7;padding:15px;margin:0 0 30px">
          <form class="pure-form pure-g" v-on:submit.prevent>
            <div class="pure-u-1-2">
              <div style="margin-right:20px">
                <div style="position:relative;max-width:300px">
                  <input
                      type="text"
                      v-model="search"
                      @keyup.enter="search_filter(search)"
                      class="pure-input-1 input__search"
                      placeholder="Поиск"
                  >
                  <input
                      class="submit_icon hover_opacity inverted"
                      type="button" value=""
                      @click="search_filter(search)"
                  >
                </div>
              </div>
            </div>
            <div class="pure-u-1-2">
              <select
                  v-model="selected_article_category"
                  class="pure-input-1 select_article_categories"
                  @change="article_category_filter(selected_article_category, article_type_id)"
              >
                <option
                    v-for="article_category in DICTIONARIES.article_categories"
                    :value="article_category.id">{{ article_category.name }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="posts__list">
          <v-article-item-blog
              v-for="article in this.$store.state.articles.blog"
              :key="article.id"
              :article="article"
          ></v-article-item-blog>
        </div>
      </div>
    </div>
    <infinite-loading ref="InfiniteLoading" @distance="200" @infinite="infiniteHandler"></infinite-loading>
  </div>
</template>

<script>
import VArticleItemBlog from "./v-article-item-blog";
import axios from "axios";
import route from "../../halpers/route";
import {mapActions, mapGetters} from "vuex";
import notify_errors from "../../halpers/notify_errors";
import notify_error from "../../halpers/notify_error";
import constants from "../../halpers/constants";
import filters_articles_mixin from "../../mixins/filters/filters_articles";

export default {
  name: "v-articles-loading-blog",
  mixins: [filters_articles_mixin],
  components: {
    VArticleItemBlog,
  },
  computed: {
    ...mapGetters([
      'DICTIONARIES',
      'ARTICLES_BLOG_PAGE',
    ]),
  },
  data() {
    return {
      selected_article_category: 0,
      search: '',
      article_type_id: 0,
    }
  },
  methods: {
    ...mapActions([
      'GET_DICTIONARIES',
      'ADD_ARTICLES_BLOG_PAGE'
    ]),
    resetFilters() {
      this.selected_article_category = 0;
      this.search = '';
      this.article_category_filter(0, 0);
      this.search_filter('');
    },
    infiniteHandler($state) {

      let filters = {article_type_id: constants.article_types.blog}

      if (Object.keys(this.$store.state.articles.url_params.filters).length > 0) {
        filters = {...this.$store.state.articles.url_params.filters, ...filters};
      }

      let url_params = {
        page: this.ARTICLES_BLOG_PAGE,
        filters: filters,
      }

      this.ADD_ARTICLES_BLOG_PAGE(++this.$store.state.articles.url_params.blog_page)
      this.$store.state.handler = $state

      axios.get(route('articles.index'), {
        params: url_params
      })
          .then((request) => {
            let articles = request.data.data;
            if (articles.length) {
              this.$store.state.articles.blog = this.$store.state.articles.blog.concat(articles);
              $state.loaded();
            } else {
              $state.complete();
            }
          })
          .catch((error) => {
            notify_error(this);
          });
    },
  },
  mounted() {
    this.GET_DICTIONARIES();
  },
  watch: {
    '$store.state.articles.url_params.filters': {
      immediate: false,
      deep: true,
      handler() {
        this.$store.state.articles.url_params.blog_page = 1;
        this.selected_article_category = this.$store.state.articles.url_params.filters.article_category_id ?? 0;
        this.search = this.$store.state.articles.url_params.filters.search ?? '';
        if (this.$refs.InfiniteLoading) {
          this.$refs.InfiniteLoading.stateChanger.reset();
        }
      },
    },
  },
}
</script>

<style scoped>
.posts {
  font-family: Open Sans, sans-serif;
}

.posts .container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}

.posts__title {
  font-size: 30px;
  font-weight: 400;
  color: #4a4a4a;
  text-align: center;
}

.posts__list {
  display: flex;
  flex-wrap: wrap;
}


.forum h1 {
  font-size: 2em;
  margin: .67em 0;
}

.forum img {
  border: 0;
}

.forum input, select {
  color: inherit;
  font: inherit;
  margin: 0;
}

.forum select {
  text-transform: none;
}

.submit_icon {
  display: block;
  position: absolute;
  right: 6px;
  top: 7px;
  margin: 0;
  padding: 0;
  border: 0;
  background: url(/img/sprites.png);
  background: url(/img/sprites.svg), none;
  background-position: -200px 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

 input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

 input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

 input {
  line-height: normal;
}

 .pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0, 0, 0, .8);
  border: 0 transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

 .pure-button:focus,  .pure-button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000", GradientType=0);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

 .pure-button:focus {
  outline: 0;
}

 .pure-button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 0 6px rgba(0, 0, 0, .2);
  border-color: #000;
}

 .pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

 .pure-form input[type=text],  .pure-form select {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

 .pure-form input[type=text]:focus,  .pure-form select:focus {
  outline: 0;
  border-color: #129fea;
}

 .pure-form input:focus:invalid,  .pure-form select:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

 .pure-form select {
  height: 2.60em;
  border: 1px solid #ccc;
  background-color: #fff;
}

 .pure-form .pure-input-1 {
  width: 100%
}

@media only screen and (max-width: 480px) {
   .pure-form input[type=text] {
    margin-bottom: .3em;
    display: block;
  }
}

 .pure-g {
  letter-spacing: -.31em;
  *letter-spacing: normal;
  *word-spacing: -.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, Droid Sans, Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  flex-wrap: wrap;
  display: -ms-flexbox;
  -ms-align-content: flex-start;
  align-content: flex-start;
}

 .pure-g {
  word-spacing: -.43em;
}

 .pure-g [class*=pure-u] {
  font-family: sans-serif;
}

 .pure-u-1-2 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

 .pure-u-1-2 {
  width: 50%;
  *width: 49.969%
}

@media screen and (max-width: 567px) {
   .hide-xs {
    display: none !important;
  }
}

@media screen and (min-width: 568px) and (max-width: 767px) {
   .hide-sm {
    display: none !important;
  }
}

 .pure-g [class*=pure-u],  h1,  input,  select {
  color: #191b26;
  font-family: Open Sans, sans-serif;
}

 input,  select {
  border-radius: 2px !important;
  resize: none;
}

 :focus:required {
  border-color: #129fea !important;
}

 :invalid {
  color: #555 !important;
}

 .pure-button {
  padding: 10px 22px;
  text-decoration: none !important;
  border-radius: 50px !important;
}

 .pure-button:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1)) !important;
}

 .button-green {
  color: #fff !important;
  background-color: #02be6e !important;
}

 .button-md {
  padding: 8px 17px;
  font-size: 13px;
}

 * {
  margin: 0;
}

 {
  height: 100%;
  min-width: 320px;
}

 a {
  color: #0a88d3;
  text-decoration: none;
  cursor: pointer;
}

 p {
  margin: 0 0 10px;
  line-height: 1.6;
}

 a,  input,  select {
  outline: none !important;
}

 h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 25px;
}

 h1 a {
  color: #555;
}

 h1 a:hover {
  text-decoration: underline;
}

 ::-webkit-input-placeholder {
  color: #bbb !important;
}

 ::-moz-placeholder {
  color: #bbb !important;
}

 :-ms-input-placeholder {
  color: #bbb !important;
}

 [placeholder] {
  text-overflow: ellipsis;
}

 ::-ms-clear {
  display: none;
}

 .hover_links a,  .hover_opacity {
  opacity: 1;
  transition: opacity .2s;
}

 .hover_links a:hover,  .hover_opacity:hover {
  opacity: .7;
}

 .hover_opacity.inverted {
  opacity: .75;
}

 .hover_opacity.inverted:hover {
  opacity: 1;
}

 .tab_menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #f0f1f4;
  border-left: 0;
  border-right: 0;
  text-align: center;
}

 .tab_menu a {
  display: inline-block;
  padding: 10px 0;
  margin: 0 15px;
  cursor: pointer;
  color: #71767a;
  border-bottom: 2px solid transparent;
  line-height: 24px;
}

 .tab_menu a:hover {
  color: #0a88d3;
}

 .tab_menu .selected {
  color: #0a88d3;
  border-bottom: 2px solid #0a88d3;
}

 .paginator .pure-button {
  margin: 5px 3px;
  padding: 6px 12px;
  font-size: 14px !important;
  color: #777;
  background: #fff;
}

 .paginator a.pure-button:hover {
  background: #eee;
}

 .paginator .next {
  padding-left: 20px;
  padding-right: 20px;
  background: #f6f5fa;
}

 .paginator span.pure-button {
  background: #02be6e !important;
  color: #fff;
  cursor: default;
}

 .paginator i {
  font-style: normal;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
  line-height: 12px;
}

 _topics > div {
  margin: 0 0 12px;
  padding: 0 0 25px;
  border-bottom: 1px solid #e4e6e8;
}

.button__forum {
  float: right;
  position: relative;
  top: 4px;
  margin-left: 20px;
  z-index: 9
}

.links__forum {
  float: right;
  border: 0;
  position: relative;
  z-index: 9
}

.h__forum {
  margin: 0 0 5px;
  position: relative;
  top: 2px
}

.h__forum a {
  text-decoration: none;
}

.select_article_categories {
  font-size: 14px;
  padding-top: 6px;
  color: #777 !important;
  max-width: 280px;
  float: right
}

.input__search {
  font-size: 14px !important;
  padding-right: 30px
}

.loupe {
  float: left;
  width: 50px;
  height: 55px;
  border: 0;
  background: url(/img/sprites.svg?1);
  background: url(/img/sprites.svg?1), no-repeat;
  background-position: 15px -83px;
  opacity: .75;
  transition: opacity .3s;
}

.loupe {
  width: 40px;
  height: 31px;
  background-position: -190px 9px;
}

</style>
