<template>
  <b-modal id="change_password_profile" hide-footer>
    <template v-slot:modal-title>
      Изменение пароля
    </template>
    <input
        type="password"
        v-model="model.oldPassword"
        @keyup="checkFields"
        :class="{'error-border': oldPasswordError}"
        class="pure-input-1 input__search"
        placeholder="Введите старый пароль"
        required
    >
    <input
        type="password"
        v-model="model.password"
        @keyup="checkFields"
        :class="{'error-border': passwordError}"
        class="pure-input-1 input__search"
        placeholder="Введите новый пароль"
        required
    >
    <input
        type="password"
        v-model="model.cPassword"
        @keyup="checkFields"
        :class="{'error-border': cPasswordError}"
        class="pure-input-1 input__search"
        placeholder="Повторите новый пароль"
        required
    >
    <b-button class="mt-3" block @click="changePasswordSuccess();">Отправить
    </b-button>
  </b-modal>
</template>

<script>
import axios from "axios";
import route from "../../halpers/route";
import notify_success from "../../halpers/notify_success";
import notify_errors from "../../halpers/notify_errors";

export default {
  name: "v-change-password-profile",
  components: {},
  data() {
    return {
      oldPasswordError: false,
      passwordError: false,
      cPasswordError: false,
      model: {
        oldPassword:'',
        password:'',
        cPassword:'',
      },
    }
  },
  computed: {},
  methods: {
    checkFields: function () {
      if(this.model.oldPassword) {
        this.oldPasswordError = false
      }
      if(this.model.password) {
        this.passwordError = false
      }
      if(this.model.cPassword) {
        this.cPasswordError = false
      }
    },
    async changePasswordSuccess() {
      try{
        await axios.put(route('profiles.changePassword'), {
          old_password: this.model.oldPassword,
          password: this.model.password,
          c_password: this.model.cPassword,
        })

        this.model.oldPassword = '';
        this.model.password = '';
        this.model.cPassword = '';
        this.$bvModal.hide('change_password_profile');

        notify_success(this, 'Ваш пароль успешно изменен');
      }catch(error){
        notify_errors(this, error.response.data.errors);
      }
    },
  },
  mounted() {},
}
</script>

<style scoped>
.error-border {
  border: 1px solid red !important;
}
input[type=password] {
  padding: .3em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

.pure-form input[type=text]:focus, pure-form select:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

.pure-form select {
  height: 2.60em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form .pure-input-1 {
  width: 100%
}

@media only screen and (max-width: 480px) {
  .pure-form input[type=password] {
    margin-bottom: .3em;
    display: block;
  }
}

.select_image_categories {
  font-size: 14px;
  padding-top: 6px;
  color: #777 !important;
  float: right
}
.image-container {
  width: 100%;
}
.image-list-container {
  width: 100%;
}
</style>