<template>
  <b-modal id="delete_modal_image_dashboard" hide-footer>
    <template v-slot:modal-title>
      Вы точно хотите удалить фото?
    </template>
    <b-button class="mt-3" block @click="deleteImageSuccess();">Удалить
    </b-button>
  </b-modal>
</template>

<script>
import axios from "axios";
import route from "../../halpers/route";
import notify_success from "../../halpers/notify_success";
import {forEach} from "lodash";
import notify_error from "../../halpers/notify_error";
import notify_errors from "../../halpers/notify_errors";

export default {
  name: "v-delete-dashboard-image",
  components: {},
  props: {
    image_id: 0,
  },
  data() {
    return {}
  },
  computed: {},
  methods: {
    deleteImageSuccess() {
      axios.delete(route('images.destroy', [this.image_id]))
          .then((request) => {
            let image = request.data.data;
            let images = [];

            forEach(this.$store.state.images.dashboard.images, (item, index) => {
              if (item.id !== image.id) {
                images.push(item)
              }
            })

            this.$store.state.images.dashboard.images = images;
            this.$bvModal.hide('delete_modal_image_dashboard');

            notify_success(this);
          })
          .catch((error) => {
            notify_errors(this, error.response.data.errors);
          });
    },
  },
  mounted() {},
}
</script>

<style scoped>
.error-border {
  border: 1px solid red !important;
}
.pure-form input[type=text], .pure-form select {
  padding: .3em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.pure-form input[type=text]:focus, pure-form select:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

.pure-form select {
  height: 2.60em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form .pure-input-1 {
  width: 100%
}

@media only screen and (max-width: 480px) {
  .pure-form input[type=text] {
    margin-bottom: .3em;
    display: block;
  }
}

.select_image_categories {
  font-size: 14px;
  padding-top: 6px;
  color: #777 !important;
  float: right
}
.image-container {
  width: 100%;
}
.image-list-container {
  width: 100%;
}
</style>