<template>
  <b-modal id="edit_modal_image_dashboard" hide-footer>
    <template v-slot:modal-title>
      Редактировать категорию фото
    </template>
    <div class="pure-form pure-u-1-2">
      <select
          v-model="model.image_category_id"
          :class="{'error-border': categoryError}"
          @change="checkFields"
          class="pure-input-1 select_image_categories"
          required
      >
        <option
            v-for="image_category in DICTIONARIES.image_categories"
            :value="image_category.id">{{ image_category.name }}
        </option>
      </select>
    </div>
    <b-button class="mt-3" block @click="editImageSuccess();">Отправить
    </b-button>
  </b-modal>
</template>

<script>
import axios from "axios";
import route from "../../halpers/route";
import {mapActions, mapGetters} from "vuex";
import notify_success from "../../halpers/notify_success";
import notify_error from "../../halpers/notify_error";
import notify_errors from "../../halpers/notify_errors";

export default {
  name: "v-edit-dashboard-image",
  components: {},
  props: {
    image_id: 0,
    image_category_id:0,
  },
  data() {
    return {
      categoryError: false,
      model: {
        image_category_id:0,
        image_categories:[],
      },
    }
  },
  computed: {
    ...mapGetters([
      'DICTIONARIES',
    ]),

  },
  methods: {
    checkFields: function () {
      if(this.model.image_category_id) {
        this.categoryError = false
      }
    },
    editImageSuccess() {
      axios.put(route('images.update', [this.image_id]), {
        image_category_id: this.model.image_category_id,
      })
          .then((request) => {
            this.$bvModal.hide('edit_modal_image_dashboard');
            this.model.image_category_id = request.data.data.image_category.id;

            notify_success(this);
          })
          .catch((error) => {
            notify_errors(this, error.response.data.errors);
          });
    },
  },
  mounted() {},
  watch: {
    $props: {
      handler() {
        this.model.image_category_id = this.image_category_id;
      },
      deep: true,
      immediate: true,
    },
  },
}
</script>

<style scoped>
.error-border {
  border: 1px solid red !important;
}
.pure-form input[type=text], .pure-form select {
  padding: .3em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.pure-form input[type=text]:focus, pure-form select:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

.pure-form select {
  height: 2.60em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form .pure-input-1 {
  width: 100%
}

@media only screen and (max-width: 480px) {
  .pure-form input[type=text] {
    margin-bottom: .3em;
    display: block;
  }
}

.select_image_categories {
  font-size: 14px;
  padding-top: 6px;
  color: #777 !important;
  float: right
}
.image-container {
  width: 100%;
}
.image-list-container {
  width: 100%;
}
</style>