<template>
  <b-modal id="forgot_password_auth" hide-footer>
    <template v-slot:modal-title>
      Новый пароль Вам будет отправлен на email
    </template>
    <input
        type="text"
        v-model="model.email"
        @keyup="checkFields"
        :class="{'error-border': emailError}"
        class="pure-input-1 input__search"
        placeholder="Введите email"
        required
    >
    <b-button class="mt-3" block @click="forgotPasswordSuccess();">Отправить
    </b-button>
  </b-modal>
</template>

<script>
import axios from "axios";
import route from "../../halpers/route";
import notify_success from "../../halpers/notify_success";
import {forEach} from "lodash";
import notify_error from "../../halpers/notify_error";

export default {
  name: "v-forgot-password-auth",
  components: {},
  props: {
    image_id: 0,
  },
  data() {
    return {
      emailError: false,
      model: {
        email:'',
      },
    }
  },
  computed: {},
  methods: {
    checkFields: function () {
      if(this.model.email) {
        this.emailError = false
      }
    },
    forgotPasswordSuccess() {
      axios.post(route('auth.forgotPassword'), {
        email: this.model.email,
      })
          .then((request) => {

            this.model.email = '';
            this.$bvModal.hide('forgot_password_auth');

            notify_success(this, 'Вам на почту ' + request.data.data.email + ' отправлено письмо с новым паролем');
          })
          .catch((error) => {
            notify_error(this, 'Ошибка ввода email. Проверьте еще раз и нажмите отправить.');
            return error;
          });
    },
  },
  mounted() {},
}
</script>

<style scoped>
.error-border {
  border: 1px solid red !important;
}
input[type=text] {
  padding: .3em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

.pure-form input[type=text]:focus, pure-form select:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

.pure-form select {
  height: 2.60em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form .pure-input-1 {
  width: 100%
}

@media only screen and (max-width: 480px) {
  .pure-form input[type=text] {
    margin-bottom: .3em;
    display: block;
  }
}

.select_image_categories {
  font-size: 14px;
  padding-top: 6px;
  color: #777 !important;
  float: right
}
.image-container {
  width: 100%;
}
.image-list-container {
  width: 100%;
}
</style>