<template>
  <b-modal id="modal_image_dashboard" hide-footer>
    <template v-slot:modal-title>
      Загрузить фото
    </template>
    <div class="pure-form pure-u-1-2">
      <select
          v-model="model.image_category_id"
          :class="{'error-border': categoryError}"
          @change="checkFields"
          class="pure-input-1 select_image_categories"
          required
      >
        <option
            v-for="image_category in DICTIONARIES.image_categories"
            :value="image_category.id">{{ image_category.name }}
        </option>
      </select>
      <br>
      <br>
      <vue-upload-multiple-image
          @upload-success="prependImages"
          @before-remove="beforeRemove"
          @edit-image="editImage"
          @data-change="dataChange"
          :data-images="images"
          :multiple="true"
          :drag-text="upload_image_setting.drag_text"
          :browse-text="upload_image_setting.browse_text"
          :primary-text="upload_image_setting.primary_text"
          :popup-text="upload_image_setting.popup_text"
          :mark-is-primary-text="upload_image_setting.mark_is_primary_text"
          :max-image="upload_image_setting.max_image"
      ></vue-upload-multiple-image>
    </div>
    <b-button class="mt-3" block @click="uploadImageSuccess();">Отправить
    </b-button>
  </b-modal>
</template>

<script>
import axios from "axios";
import route from "../../halpers/route";
import constants from "../../halpers/constants";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import {mapActions, mapGetters} from "vuex";
import VueUploadMultipleImage from 'vue-upload-multiple-image'
import {forEach} from "lodash";
import notify_success from "../../halpers/notify_success";
import notify_error from "../../halpers/notify_error";
import notify_errors from "../../halpers/notify_errors";

export default {
  name: "v-new-dashboard-image",
  components: {
    VueUploadMultipleImage,
  },
  data() {
    return {
      nameError: false,
      categoryError: false,
      descriptionError: false,
      model: {
        image_category_id:0,
        image_categories:[],
        image_files:[],
      },
      upload_image_setting: {
        drag_text:'',
        primary_text:'Первое',
        popup_text:'Данное фото будет загруженно первым в списке',
        mark_is_primary_text:'Сделать фото первым',
        max_image:10,
        browse_text:'Загрузите фото до 10 шт.',
      },
      images: [],
      imageFormData: false
    }
  },
  computed: {
    ...mapGetters([
      'DICTIONARIES',
    ]),

  },
  methods: {
    checkFields: function () {
      if(this.model.image_category_id) {
        this.categoryError = false
      }
    },
    prependImages(formData, index, fileList) {
      let file = formData.get('file');
      this.model.image_files.push(file);

      forEach(this.model.image_files, (value, index) => {
        formData.append('files[' + index + ']', value);
      })

      formData.append('image_category_id', this.model.image_category_id);
      this.imageFormData = formData;
    },
    uploadImageSuccess() {
      let config = {
        header : {
          'Content-Type' : 'multipart/form-data'
        }
      }
      axios.post(route('images.upload'), this.imageFormData, config)
          .then((request) => {
            let images = request.data.data;

            this.$store.state.images.dashboard.images = [...images, ...this.$store.state.images.dashboard.images];
            this.$bvModal.hide('modal_image_dashboard');
            this.image_files = [];
            this.image_category_id = 0;
            this.images = [];
            notify_success(this);
          })
          .catch((error) => {
            notify_errors(this, error.response.data.errors);
          });
    },
    beforeRemove (index, done, fileList) {
      console.log('index', index, fileList)
      var r = confirm("remove image")
      if (r == true) {
        done()
      } else {
      }
    },
    editImage (formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange (data) {
      console.log(data)
    }
  },
  mounted() {}
}
</script>

<style scoped>
.error-border {
  border: 1px solid red !important;
}
.pure-form input[type=text], .pure-form select {
  padding: .3em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.pure-form input[type=text]:focus, pure-form select:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

.pure-form select {
  height: 2.60em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form .pure-input-1 {
  width: 100%
}

@media only screen and (max-width: 480px) {
  .pure-form input[type=text] {
    margin-bottom: .3em;
    display: block;
  }
}

.select_image_categories {
  font-size: 14px;
  padding-top: 6px;
  color: #777 !important;
  float: right
}
.image-container {
  width: 100%;
}
.image-list-container {
  width: 100%;
}
</style>