<template>
  <b-modal id="modal_ckeditor_comment" hide-footer>
    <template v-slot:modal-title>
      Напишите комментарий
    </template>
    <div class="d-block text-center" :class="{'error-border': descriptionError}" @keyup="checkFields">
      <ckeditor
          :editor="editor"
          v-model="editorCommentData"
          :config="editorConfig"
          required></ckeditor>
    </div>
    <b-button class="mt-3" block @click="addComment();">Отправить комментарий
    </b-button>
  </b-modal>
</template>

<script>
import axios from "axios";
import route from "../../halpers/route";
import constants from "../../halpers/constants";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import {mapActions, mapGetters} from "vuex";
import notify_success from "../../halpers/notify_success";
import notify_error from "../../halpers/notify_error";
import notify_errors from "../../halpers/notify_errors";

export default {
  name: "v-new-forum-comment",
  data() {
    return {
      descriptionError: false,
      editor: ClassicEditor,
      editorCommentData: '',
      editorConfig: {},
    }
  },
  methods: {
    checkFields: function () {
      if(this.editorCommentData) {
        this.descriptionError = false
      }
    },
    addComment: function () {
      if(!this.editorCommentData) {
        this.descriptionError = true
      }
      let name = this.strip_tags(this.editorCommentData);

      if(this.$route.params.slug !== undefined) {
        let slug = this.$route.params.slug;
        let entity_id = slug.split('-')[0];

        axios.post(route('comments.store'), {
          name: name.substr(0, 40) + '...',
          description: this.editorCommentData,
          entity_type_id: constants.entity_types.article,
          entity_type: constants.entity_types.article_type,
          entity_id: Number(entity_id),
        })
            .then((request) => {
              let comment = request.data.data;
              this.$store.state.comments.catalog = [comment, ...this.$store.state.comments.catalog];
              this.descriptionError = false
              this.editorCommentData = '';
              this.$bvModal.hide('modal_ckeditor_comment');
              notify_success(this);
            })
            .catch((error) => {
              notify_errors(this, error.response.data.errors);
            });
      }
    },
    strip_tags(html) {
      let tmp = document.createElement("div");
      tmp.innerHTML = html;

      return tmp.textContent || tmp.innerText;
    },
  },
  mounted() {

    console.log(this.$route)
  }
}
</script>

<style scoped>
.error-border {
  border: 1px solid red !important;
}
.pure-form input[type=text], .pure-form select {
  padding: .3em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.pure-form input[type=text]:focus, pure-form select:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

.pure-form select {
  height: 2.60em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form .pure-input-1 {
  width: 100%
}

@media only screen and (max-width: 480px) {
  .pure-form input[type=text] {
    margin-bottom: .3em;
    display: block;
  }
}

.select_article_categories {
  font-size: 14px;
  padding-top: 6px;
  color: #777 !important;
  float: right
}
</style>