<template>
  <b-modal id="modal_article_ckeditor_dashboard" hide-footer>
    <template v-slot:modal-title>
      Новая тема
    </template>
    <div class="pure-form pure-u-1-2">
      <select
          v-model="model.article_categories"
          :class="{'error-border': categoryError}"
          @change="checkFields"
          class="pure-input-1 select_article_categories"
          required
      >
        <option
            v-for="article_category in DICTIONARIES.article_categories"
            :value="article_category.id">{{ article_category.name }}
        </option>
      </select>
      <input
          type="text"
          v-model="model.article_name"
          @keyup="checkFields"
          :class="{'error-border': nameError}"
          class="pure-input-1 input__search"
          placeholder="Введите название темы"
          required
      >
    </div>
    <div class="d-block text-center" :class="{'error-border': descriptionError}" @keyup="checkFields">
      <ckeditor
          :editor="editor"
          v-model="editorArticleData"
          :config="editorConfig"
          required></ckeditor>
    </div>
    <b-button class="mt-3" block @click="addArticle();">Отправить
      комментарий
    </b-button>
  </b-modal>
</template>

<script>
import axios from "axios";
import route from "../../halpers/route";
import constants from "../../halpers/constants";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import {mapActions, mapGetters} from "vuex";
import notify_success from "../../halpers/notify_success";
import notify_error from "../../halpers/notify_error";
import notify_errors from "../../halpers/notify_errors";

export default {
  name: "v-new-dashboard-article",
  data() {
    return {
      nameError: false,
      categoryError: false,
      descriptionError: false,
      model: {
        article_categories:0,
        article_name:'',
      },
      editor: ClassicEditor,
      editorArticleData: '',
      editorConfig: {
        // The configuration of the editor.
      },
    }
  },
  computed: {
    ...mapGetters([
      'DICTIONARIES',
    ]),

  },
  methods: {
    ...mapActions([
      'GET_DICTIONARIES',
    ]),
    checkFields: function () {
      if(this.model.article_name) {
        this.nameError = false
      }
      if(this.model.article_categories) {
        this.categoryError = false
      }
      if(this.editorArticleData) {
        this.descriptionError = false
      }
    },
    addArticle: function () {
      if(!this.model.article_name) {
        this.nameError = true
      }
      if(!this.model.article_categories) {
        this.categoryError = true
      }
      if(!this.editorArticleData) {
        this.descriptionError = true
      }
      axios.post(route('articles.store'), {
        name: this.model.article_name,
        description: this.editorArticleData,
        article_type_id: constants.article_types.forum,
        article_category_id: this.model.article_categories,
      })
          .then((request) => {
            let article = request.data.data;
            this.$store.state.articles.dashboard.articles = [article, ...this.$store.state.articles.dashboard.articles];
            this.$bvModal.hide('modal_article_ckeditor_dashboard');
            this.nameError = false;
            this.categoryError = false;
            this.descriptionError = false;
            this.model.article_name = '';
            this.model.article_categories = 0;
            this.editorArticleData = '';
            notify_success(this);
            //this.$router.push('/dashboard');
          })
          .catch((error) => {
            notify_errors(this, error.response.data.errors);
          });
    },
  },
  mounted() {
    this.GET_DICTIONARIES();
  }
}
</script>

<style scoped>
.error-border {
  border: 1px solid red !important;
}
.pure-form input[type=text], .pure-form select {
  padding: .3em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.pure-form input[type=text]:focus, pure-form select:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid {
  color: #d33228;
  border-color: #e9322d;
}

.pure-form select {
  height: 2.60em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form .pure-input-1 {
  width: 100%
}

@media only screen and (max-width: 480px) {
  .pure-form input[type=text] {
    margin-bottom: .3em;
    display: block;
  }
}

.select_article_categories {
  font-size: 14px;
  padding-top: 6px;
  color: #777 !important;
  float: right
}
</style>