.filter {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.08), #0000);
  padding: 10px 0 0 0;
  font-size: 14px;
  font-family: sans-serif;
  box-sizing: border-box;
  height: 64px;
}

.filter .container {
  padding: 0 20px;
  max-width: 1828px;
  margin: 0 auto;
}

.filter__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__left {
  padding: 18px 0;
  display: flex;
}

.filter__item-container {
  position: relative;
}

@media(max-width: 1099px) {
    .filter__item-container:nth-child(6) {
        display: none;
    }
}
@media(max-width: 949px) {
    .filter__item-container:nth-child(5) {
        display: none;
    }
}
@media(max-width: 839px) {
    .filter__item-container:nth-child(4) {
        display: none;
    }
}
@media(max-width: 619px) {
    .filter__item-container:nth-child(3) {
        display: none;
    }
}
@media(max-width: 489px) {
    .filter__item-container:nth-child(2) {
        display: none;
    }
}


.filter__item {
  margin: 0 20px 0 0;
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.filter__item:hover {
  opacity: 1;
}

.filter__item:last-child {
  margin: 0;
}

.filter__item.primary {
  background: #e2e2e2;
  font-weight: 700;
}

.filter__item.bold {
  font-weight: 700;
}

.filter__icon-arrow {
  display: inline-block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #777;
  margin: 0 0 0 5px;
}

.filter__menu {
  position: absolute;
  top: 26px;
  left: 0;
  display: none;
  background-color: #191b26;
  z-index: 50;
  border-radius: 3px;
  padding: 10px;
  color: #9aa2b0;
}

.filter__menu-item {
  color: #9aa2b0;
  text-decoration: none;
  padding: 7px 28px 7px 18px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
}
.filter__menu-item:hover {
  background-color: #22242f;
  color: #fff;
}

.filter__menu-item.selected:after {
  content: "✓";
  position: absolute;
  top: 5px;
  right: 10px;
}

.filter__menu-item.padded {
  padding: 7px 28px 7px 25px;
}

.filter__menu-title {
  margin: 0 0 7px 0;
}

.filter__menu-form {
  display: flex;
}

.filter__menu-form input[type="submit"] {
  padding: 0 20px;
  height: 28px;
  border-radius: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.filter__menu-form input[type="submit"]:hover {
  background-color: #ddd;
}

.filter__menu-form input[type="text"] {
  text-overflow: ellipsis;
  width: 60px;
  height: 28px;
  border: none;
  outline: none;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

.filter__menu-form p:nth-child(2) {
  margin: 0 6px;
}

.filter__menu-form p:nth-child(4) {
  margin: 0 12px 0 3px;
}

.filter__menu-form.form-1 {
  align-items: center;
}

.filter__menu-form.form-2 {
  flex-direction: column;
}

.filter__checkbox-container {
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}

.filter__checkbox-container p {
  width: 130px;
}

.filter__colors {
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0 12px 0;
}

.filter__colors input {
}

.filter__colors input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
}

.filter__colors input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.filter__colors input[type="checkbox"]:checked:after {
  border: 3px solid white;
}

.filter__colors input[value="red"]:after {
  background-color: red;
}
.filter__colors input[value="orange"]:after {
  background-color: #fdb91a;
}
.filter__colors input[value="yellow"]:after {
  background-color: #fe0;
}
.filter__colors input[value="green"]:after {
  background-color: #00e100;
}
.filter__colors input[value="turquoise"]:after {
  background-color: #00d7e8;
}
.filter__colors input[value="blue"]:after {
  background-color: #00f;
}
.filter__colors input[value="lilac"]:after {
  background-color: #c93ef7;
}
.filter__colors input[value="pink"]:after {
  background-color: #f8c1ff;
}
.filter__colors input[value="white"]:after {
  background-color: #fff;
}
.filter__colors input[value="gray"]:after {
  background-color: #bbb;
}
.filter__colors input[value="black"]:after {
  background-color: #000;
}
.filter__colors input[value="brown"]:after {
  background-color: #ae5700;
}

.filter__color {
}

.filter__right {
    display: flex;
    align-items: center;
}

.filter__saveful-search {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
}

@media(max-width: 767px) {
    .filter__saveful-search {
        margin: 0;
    }
}

@media(max-width: 339px) {
    .filter__saveful-search {
        font-size: 12px;
    }
}

.filter__saveful-search input {
    margin: 0 7px 0 0;
}

.filter__page {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}

@media(max-width: 1023px) {
    .filter__page {
        display: none;
    }
}

.filter__page input {
    width: 25px;
    height: 27px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #777;
    border-radius: 3px;
    margin: 0 4px 0 0;
}

.filter__arrows {
    display: flex;
    align-items: center;
}

@media(max-width: 767px) {
    .filter__arrows {
        display: none;
    }
}

.filter__left-arrow,
.filter__right-arrow {
    text-decoration: none;
    color: #fff;
    background-color: #02be6e;
    padding: 0 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    line-height: 20px;
    justify-content: center;
    border-radius: 13.5px;
}

.filter__left-arrow.disabled,
.filter__right-arrow.disabled {
    opacity: 0.5;
    cursor: default;
}

.filter__left-arrow {
    margin: 0 10px 0 0;
}
