@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 400i, 600, 700, 700i&display=swap");
.forum {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
.forum  {
    margin: 0;
}
.forum a {
    background-color: transparent;
}
.forum a:active, .forum a:hover {
    outline: 0;
}
.forum h1 {
    font-size: 2em;
    margin: .67em 0;
}
.forum img {
    border: 0;
}
.forum input, select {
    color: inherit;
    font: inherit;
    margin: 0;
}
.forum select {
    text-transform: none;
}
.forum .submit_icon {
    display: block;
    position: absolute;
    right: 6px;
    top: 7px;
    margin: 0;
    padding: 0;
    border: 0;
    background: url(images/sprites.svg), none;
    background-position: -200px 0;
    width: 20px;
    height: 20px;
}
.forum input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.forum input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.forum input {
    line-height: normal;
}
.forum .pure-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 0 transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
}
.forum .pure-button:focus, .forum .pure-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000", GradientType=0);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}
.forum .pure-button:focus {
    outline: 0;
}
.forum .pure-button:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 0 6px rgba(0, 0, 0, .2);
    border-color: #000;
}
.forum .pure-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.forum .pure-form input[type=text], .forum .pure-form select {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}
.forum .pure-form input[type=text]:focus, .forum .pure-form select:focus {
    outline: 0;
    border-color: #129fea;
}
.forum .pure-form input:focus:invalid, .forum .pure-form select:focus:invalid {
    color: #d33228;
    border-color: #e9322d;
}
.forum .pure-form select {
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: #fff;
}
.forum .pure-form .pure-input-1 {
    width: 100%}
@media only screen and (max-width:480px) {
    .forum .pure-form input[type=text] {
    margin-bottom: .3em;
    display: block;
}
}.forum .pure-g {
    letter-spacing: -.31em;
    *letter-spacing: normal;
    *word-spacing: -.43em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, Droid Sans, Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    flex-wrap: wrap;
    display: -ms-flexbox;
    -ms-align-content: flex-start;
    align-content: flex-start;
}
.forum .pure-g {
    word-spacing: -.43em;
}
.forum .pure-g [class*=pure-u] {
    font-family: sans-serif;
}
.forum .pure-u-1-2 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.forum .pure-u-1-2 {
    width: 50%;
    *width: 49.969%}
@media screen and (max-width:567px) {
    .forum .hide-xs {
    display: none!important;
}
}@media screen and (min-width:568px) and (max-width:767px) {
    .forum .hide-sm {
    display: none!important;
}
}.forum .pure-g [class*=pure-u],.forum h1,.forum input,.forum select {
    color: #191b26;
    font-family: Open Sans, sans-serif;
}
.forum input, .forum select {
    border-radius: 2px!important;
    resize: none;
}
.forum :focus:required {
    border-color: #129fea!important;
}
.forum :invalid {
    color: #555!important;
}
.forum .pure-button {
    padding: 10px 22px;
    text-decoration: none!important;
    border-radius: 50px!important;
}
.forum .pure-button:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))!important;
}
.forum .button-green {
    color: #fff!important;
    background-color: #02be6e!important;
}
.forum .button-md {
    padding: 8px 17px;
    font-size: 13px;
}
.forum * {
    margin: 0;
}
.forum {
    height: 100%;
    min-width: 320px;
}
.forum a {
    color: #0a88d3;
    text-decoration: none;
    cursor: pointer;
}
.forum p {
    margin: 0 0 10px;
    line-height: 1.6;
}
.forum a, .forum input, .forum select {
    outline: none!important;
}
.forum h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 25px;
}
.forum h1 a {
    color: #555;
}
.forum h1 a:hover {
    text-decoration: underline;
}
.forum ::-webkit-input-placeholder {
    color: #bbb!important;
}
.forum ::-moz-placeholder {
    color: #bbb!important;
}
.forum :-ms-input-placeholder {
    color: #bbb!important;
}
.forum [placeholder] {
    text-overflow: ellipsis;
}
.forum ::-ms-clear {
    display: none;
}
.forum .hover_links a, .forum .hover_opacity {
    opacity: 1;
    transition: opacity .2s;
}
.forum .hover_links a:hover, .forum .hover_opacity:hover {
    opacity: .7;
}
.forum .hover_opacity.inverted {
    opacity: .75;
}
.forum .hover_opacity.inverted:hover {
    opacity: 1;
}
.forum .tab_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f0f1f4;
    border-left: 0;
    border-right: 0;
    text-align: center;
}
.forum .tab_menu a {
    display: inline-block;
    padding: 10px 0;
    margin: 0 15px;
    cursor: pointer;
    color: #71767a;
    border-bottom: 2px solid transparent;
    line-height: 24px;
}
.forum .tab_menu a:hover {
    color: #0a88d3;
}
.forum .tab_menu .selected {
    color: #0a88d3;
    border-bottom: 2px solid #0a88d3;
}
.forum .paginator .pure-button {
    margin: 5px 3px;
    padding: 6px 12px;
    font-size: 14px!important;
    color: #777;
    background: #fff;
}
.forum .paginator a.pure-button:hover {
    background: #eee;
}
.forum .paginator .next {
    padding-left: 20px;
    padding-right: 20px;
    background: #f6f5fa;
}
.forum .paginator span.pure-button {
    background: #02be6e!important;
    color: #fff;
    cursor: default;
}
.forum .paginator i {
    font-style: normal;
    display: inline-block;
    font-size: 20px;
    overflow: hidden;
    line-height: 12px;
}
.forum .forum_topics>div {
    margin: 0 0 12px;
    padding: 0 0 25px;
    border-bottom: 1px solid #e4e6e8;
}
.forum .forum_topics .last_post, .forum .forum_topics .replies, .forum .forum_topics .views {
    display: inline-block;
    margin: 4px 10px;
    vertical-align: top;
}
.forum .forum_topics .views {
    margin: 4px 10px 10px 50px;
}
.forum .forum_topics .last_post>span, .forum .forum_topics .replies span, .forum .forum_topics .views span {
    display: inline-block;
    margin: 0 0 22px;
    color: #888;
    font-size: 13px;
}
.forum .forum_topics .last_post>span {
    margin: 0 0 7px;
}
.forum .forum_topics .last_post a img {
    float: left;
    width: 48px;
    border-radius: 96px;
}
.forum .forum_topics .last_post a span {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    margin: 6px 0 0 10px;
    font-size: 13px;
    color: #636363;
    line-height: 17px;
}
.forum .forum_topics .topic {
    white-space: nowrap;
    color: #39739d;
    background: #e1ecf4;
    padding: 2px 4px;
    border-radius: 2px;
}