<template>
  <div class="v-login">
    <v-header-menu></v-header-menu>
    <div class="container">
      <div class="alert alert-danger" v-if="error">
        <p>There was an error, unable to sign in with those credentials.</p>
      </div>
      <div class="first__form">
        <h3>
          Авторизация
        </h3>
        <!--        <div class="login__social_networks">-->
        <!--          <a href="#" class="facebook__login">-->
        <!--            <i class="fab fa-facebook-square"></i>-->
        <!--            Login with Facebook-->
        <!--          </a>-->
        <!--          <a href="#" class="twitter__login">-->
        <!--            <i class="fab fa-twitter"></i>-->
        <!--            Login with Twitter-->
        <!--          </a>-->
        <!--        </div>-->
        <form autocomplete="off" @submit.prevent="login" method="post">
          <h3>
            Введите email и пароль
          </h3>
          <input type="email" placeholder="email" v-model="email" required>
          <input type="password" placeholder="пароль" v-model="password" required>
          <button type="submit">Войти</button>
        </form>
        <div class="sign_up__wrap">
          <p v-b-modal.forgot_password_auth >
            Забыли пароль?
          </p>
          <router-link class="sign_up" :to="{name:'register'}">ЗАРЕГИСТРИРОВАТЬСЯ СЕЙЧАС</router-link>
        </div>
      </div>
    </div>
    <v-forgot-password-auth></v-forgot-password-auth>
  </div>
</template>

<script>
import route from "../../halpers/route";
import VHeaderMenu from "../sections/v-header-menu";
import VForgotPasswordAuth from "../modal/v-forgot-password-auth";
import notify_errors from "../../halpers/notify_errors";
import notify_error from "../../halpers/notify_error";

export default {
  name: "v-login",
  components: {VForgotPasswordAuth, VHeaderMenu},
  data() {
    return {
      email: null,
      password: null,
      error: false
    }
  },
  methods: {
    login() {
      let app = this
      this.$auth.login({
        url: route('auth.login'),
        body: {
          email: app.email,
          password: app.password
        },
        rememberMe: true,
        //redirect: '/dashboard',
        fetchUser: true,
      })
          .then(response => {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$auth.token();
            this.$router.push('/dashboard');
          })
          .catch((error) => {
            notify_error(this, error.statusText);
          });
    },
  }
}
</script>

<style scoped>
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #fff;
}

input {
  padding: 0;
  margin: 0;
}

.v-login {
  padding: 0;
  margin: 0;
  background-color: #EEF0F0;
  width: 100%;
  height: 100vh;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.first__form {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.facebook__login {
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 40px;
  font-size: 16px;
  text-align: center;
  background-color: #3b5998;
  margin-bottom: 15px;
  transition: all .3s ease;
}

.facebook__login i:before,
.twitter__login i:before {
  margin-right: 5px;
  font-size: 20px;
}

.facebook__login:hover {
  background-color: #fff;
  border: 1px solid #3b5998;
  color: #3b5998;
  transition: all .3s ease;

}

.twitter__login:hover {
  background-color: #fff;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  transition: all .3s ease;
}

.twitter__login {
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 40px;
  font-size: 16px;
  text-align: center;
  background-color: #1da1f2;
  transition: all .3s ease;
}


.first__form h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: #43383e;
}

.first__form form {
  margin-top: 20px;
}

.first__form form h3 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  color: #43383e;
  text-transform: none;
}

.first__form form input {
  font-size: 16px;
  border: none;
  outline: none;
  color: #43383e;
  display: block;
  width: 100%;
  height: 62px;
  background: #fff;
  border-radius: 31px;
  padding: 0 35px 0 35px;
  margin-bottom: 10px;
  transition: all .3s ease;
}

.first__form input:hover {
  transform: scaleX(1.1);
  transition: all .3s ease;
}

.first__form form input::-webkit-input-placeholder {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.first__form form input:-moz-placeholder {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.first__form form input::-moz-placeholder {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.first__form form input:-ms-input-placeholder {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.first__form form button {
  font-family: 'Oswald', sans-serif;

  cursor: pointer;
  display: block;
  background-color: #000;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 15px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  min-width: 160px;
  border: none;
  transition: all .3s ease;
}

.first__form button:hover {
  transform: scaleX(1.1);
  transition: all .3s ease;
}

.first__form button:focus {
  outline: 1px dotted;
  /* outline: 5px auto -webkit-focus-ring-color; */
}

.sign_up__wrap {
  margin-top: 55px;
}

.sign_up__wrap p {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  cursor: pointer;
  outline: none;

}

.sign_up {
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #929292;
}
</style>
