<template>
  <div class="v-register">
    <v-header-menu></v-header-menu>
    <div class="container">
      <div class="alert alert-danger" v-if="error && !success">
        <p>Ошибка регистрации.</p>
      </div>
      <div v-if="success">
        <div class="success__icon">
          <v-icon
              v-text="icons.chevron_down_circle_outline"
          ></v-icon>
        </div>
        <div class="alert alert-success success__center">
          <h3>Регистрация прошла успешно!</h3>
          <p>Для подтверждения перейдите по ссылке в письме</p>
        </div>
      </div>
      <div class="first__form" v-if="!success">
        <h3>
          Регистрация
        </h3>
        <!--        <div class="login__social_networks">-->
        <!--          <a href="#" class="facebook__login">-->
        <!--            <i class="fab fa-facebook-square"></i>-->
        <!--            Login with Facebook-->
        <!--          </a>-->
        <!--          <a href="#" class="twitter__login">-->
        <!--            <i class="fab fa-twitter"></i>-->
        <!--            Login with Twitter-->
        <!--          </a>-->
        <!--        </div>-->
        <form autocomplete="off" @submit.prevent="register()" method="post">
          <h3>
            Введите email для рестрации
          </h3>
          <input type="email" placeholder="email" v-model="email" required>
          <span class="help-block" v-if="error && errors.email">{{ errors.email }}</span>
          <button type="submit">регистрация</button>
        </form>
        <div class="sign_up__wrap">
          <p>
            Вы уже зарегистрированы?
          </p>
          <router-link class="sign_up" :to="{name:'login'}">АВТОРИЗАЦИЯ</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import route from "../../halpers/route";
import VHeaderMenu from "../sections/v-header-menu";
import notify_error from "../../halpers/notify_error";

export default {
  name: "v-register",
  components: {VHeaderMenu},
  data() {
    return {
      icons: {
        chevron_down_circle_outline: '$vuetify.icons.chevron_down_circle_outline',
      },
      email: '',
      error: false,
      errors: {},
      success: false
    };
  },
  methods: {
    register() {
      this.$auth.register({
        url: route('auth.register'),
        body: {
          email: this.email
        },
        redirect: null
      })
          .then((request) => {
            this.success = true;
          })
          .catch((error) => {
            this.error = true;
            notify_error(this, error.statusText);
          });
    }
  }
}
</script>

<style scoped>
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #fff;
}

input {
  padding: 0;
  margin: 0;
}

.v-register {
  padding: 0;
  margin: 0;
  background-color: #EEF0F0;
  width: 100%;
  height: 100vh;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.first__form {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.facebook__login {
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 40px;
  font-size: 16px;
  text-align: center;
  background-color: #3b5998;
  margin-bottom: 15px;
  transition: all .3s ease;
}

.facebook__login i:before,
.twitter__login i:before {
  margin-right: 5px;
  font-size: 20px;
}

.facebook__login:hover {
  background-color: #fff;
  border: 1px solid #3b5998;
  color: #3b5998;
  transition: all .3s ease;

}

.twitter__login:hover {
  background-color: #fff;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  transition: all .3s ease;
}

.twitter__login {
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 40px;
  font-size: 16px;
  text-align: center;
  background-color: #1da1f2;
  transition: all .3s ease;
}


.first__form h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: #43383e;
}

.first__form form {
  margin-top: 20px;
}

.first__form form h3 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  color: #43383e;
  text-transform: none;
}

.first__form form input {
  font-size: 16px;
  border: none;
  outline: none;
  color: #43383e;
  display: block;
  width: 100%;
  height: 62px;
  background: #fff;
  border-radius: 31px;
  padding: 0 35px 0 35px;
  margin-bottom: 10px;
  transition: all .3s ease;
}

.first__form input:hover {
  transform: scaleX(1.1);
  transition: all .3s ease;
}

.first__form form input::-webkit-input-placeholder {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.first__form form input:-moz-placeholder {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.first__form form input::-moz-placeholder {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.first__form form input:-ms-input-placeholder {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.first__form form button {
  cursor: pointer;
  display: block;
  background-color: #000;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 15px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  min-width: 160px;
  border: none !important;
  transition: all .3s ease;
}

.first__form button:hover {
  transform: scaleX(1.1);
  transition: all .3s ease;
}

.first__form button:focus {
  outline: 1px dotted;
  /* outline: 5px auto -webkit-focus-ring-color; */
}

.sign_up__wrap {
  margin-top: 55px;
}

.sign_up__wrap p {
  font-weight: 400;
  font-size: 16px;
  color: #999999;

}

.sign_up {
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #929292;
}

.success__center {
  text-align: center;
}

.success__icon i {
  text-align: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 100px;
  color: #429455;
}
</style>