<template>
  <article class="v-dashboard-catalog-images catalog">
    <v-images-loading-catalog-dashboard></v-images-loading-catalog-dashboard>
  </article>
</template>

<script>
import VImagesLoadingCatalogDashboard from "../../images/v-images-loading-catalog-dashboard";

export default {
  name: "v-dashboard-catalog-images",
  components: {VImagesLoadingCatalogDashboard}
}
</script>

<style scoped>

</style>