<template>
  <div class="v-dashboard-menu link-tab-container">
    <router-link
        v-for="link in links"
        :key="link.route"
        :to="{name:link.route}"
        class="label__tab"
        :class="{active: isActive}"
        @click="isActiveFilters">
      {{ link.category }}
    </router-link>
  </div>
</template>
<script>
export default {
  name: "v-dashboard-menu",
  components: {},
  data: () => ({
    links: [
      {route: 'dashboard', category: 'Профиль'},
      {route: 'auth.catalog', category: 'Мои фото'},
      {route: 'auth.forum', category: 'Мои темы форума'},
      {route: 'auth.blog', category: 'Мои темы блога'},
    ],
    isActive: false
  }),
  methods: {
    isActiveFilters: function() {
      this.isActive = !this.isActive;
    }
  }
}
</script>

<style scoped>
.label__tab {
  text-align: center;
  text-decoration: none;

  color: #3ec6ff;

  margin: 0 9px 25px;
  max-width: 23%;
  width: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #3ec6ff;
  transition: all .3s ease;

  white-space: nowrap;
}

.label__tab.router-link-active {
  background-color: #3ec6ff;
  color: #fff;
  transition: all .3s ease;
}

.link-tab-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1271px) {
  .link-tab-container {
    width: 100%;
    justify-content: center;
  }

  .label__tab {
    max-width: 35%;
  }
}

@media screen and (max-width: 992px) {
  .link-tab-container {
    justify-content: center;
  }
}

@media screen and (max-width: 515px) {
  .label__tab {
    max-width: 100% !important;
  }
}
</style>
