<template>
  <article class="v-dashboard-forum forum">
      <v-articles-loading-forum-dashboard></v-articles-loading-forum-dashboard>
  </article>
</template>

<script>
import VArticlesLoadingForumDashboard from "../../articles/v-articles-loading-forum-dashboard";

export default {
  name: "v-dashboard-forum",
  components: {VArticlesLoadingForumDashboard}
}
</script>

<style scoped>
.forum {
  width: 100%;
}
</style>