<template>
    <div class="v-dashboard-profile">
        <div class="profile">
            <div class="user">
                <h3>
                    Пользователь сайта
                </h3>
                <div class="user_content__wrap">
                    <div class="account__avatar">
                        <div class="hover__effect" @click="$refs.imgAvatarInput.click()">
                            <p>
                                Загрузите фото
                            </p>
                        </div>
                        <img :src="models.user.profile.image_src">
                        <input style="display: none;" type="file" @change="uploadAvatar" ref="imgAvatarInput">
                    </div>
                    <div class="user__name">
                        <p>
                            {{ models.user.profile.full_name }}
                        </p>
                    </div>
                    <div class="person__status">
                        {{ models.user.profile.description }}
                    </div>
                    <div class="user__links">
                        <a class="user__link">
                            <v-icon
                                v-text="facebook"
                            ></v-icon>
                        </a>
                        <a class="user__link">
                            <v-icon
                                v-text="instagram"
                            ></v-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <article class="profile">
            <form id="profile_form">
                <div class="user__data">
                    <h3>
                        Данные пользователя
                    </h3>
                    <div class="input__wrap disabled__btn">
                        <p>
                            Пользователь в системе
                        </p>
                        <input type="text" v-model="models.user.name" disabled="disabled">
                    </div>
                    <div class="input__wrap disabled__btn">
                        <p>
                            Электронная почта
                        </p>
                        <input class="disabled__btn" type="text" v-model="models.user.email" disabled="disabled">
                    </div>
                    <div class="input__wrap">
                        <p>
                            Пол
                        </p>
                        <select
                            v-model="models.user.profile.sex_id"
                        >
                            <option
                                v-for="sex in DICTIONARIES.sexes"
                                :value="sex.id">{{ sex.name }}
                            </option>
                        </select>
                    </div>
                    <div class="input__wrap">
                        <p>
                            ФИО
                        </p>
                        <input type="text" v-model="models.user.profile.full_name">
                    </div>
                    <div class="input__wrap">
                        <p>
                            Дата рождения
                        </p>
                        <div class="birth_date__wrap">
                            <date-picker v-model="datepicker.dateValue" :format="datepicker.format"
                                         type="date"></date-picker>
                        </div>
                    </div>
                    <div class="input__wrap">
                        <p>
                            Обо мне
                        </p>
                        <textarea v-model="models.user.profile.description"></textarea>
                    </div>

                </div>
                <div class="internet__profiles">
                    <h3>
                        Профили в интернете
                    </h3>
                    <div class="input__wrap">
                        <p>
                            Facebook
                        </p>
                        <input type="text" v-model="models.user.profile.facebook">
                    </div>
                    <div class="input__wrap">
                        <p>
                            Instagram
                        </p>
                        <input type="text" v-model="models.user.profile.instagram">
                    </div>
                </div>
                <div class="parameters">
                    <h3>
                        Параметры
                    </h3>
                    <div class="input__wrap s_top">
                        <p>
                            Уведомления на EMAIL
                        </p>
                        <div class="checkbox__wrap">
                            <label>
                                <input type="checkbox" v-model="models.user.profile.is_mail_blog_news" true-value="1"
                                       false-value="0">
                                <span>Получать новости блога</span>
                            </label>
                            <label>
                                <input type="checkbox" v-model="models.user.profile.is_mail_forum_news" true-value="1"
                                       false-value="0">
                                <span>Получать новости форума</span>
                            </label>
                            <label>
                                <input type="checkbox" v-model="models.user.profile.is_mail_answer_entity"
                                       true-value="1"
                                       false-value="0">
                                <span>Получать уведомление о комментариях</span>
                            </label>
                        </div>
                    </div>
                    <div class="other">
                        <a v-b-modal.change_password_profile>
                            Изменить пароль?
                        </a>
                        <!--            <a >-->
                        <!--              Деактивировать аккаунт-->
                        <!--            </a>-->
                    </div>
                </div>
                <button
                    @click="updateProfile()"
                    class="save__btn"
                    type="button"
                >Сохранить
                </button>
            </form>
        </article>
        <v-change-password-profile></v-change-password-profile>
    </div>
</template>

<script>

import axios from 'axios';
import route from '../../../halpers/route';
import {mapActions, mapGetters} from 'vuex';
import notify_success from '../../../halpers/notify_success';
import notify_error from '../../../halpers/notify_error';
import VChangePasswordProfile from '../../modal/v-change-password-profile';
import notify_errors from '../../../halpers/notify_errors';

export default {
    name: 'v-dashboard-profile',
    components: {VChangePasswordProfile},
    data() {
        return {
            user: {
                type: Object,
                default() {
                    return {};
                },
            },
            models: {
                user: {
                    name: '',
                    email: '',
                    profile: {
                        full_name: '',
                        image_src: '',
                        img: '',
                        sex_id: 0,
                        description: '',
                        facebook: '',
                        instagram: '',
                        is_mail_blog_news: 0,
                        is_mail_forum_news: 0,
                        is_mail_answer_entity: 0,
                    },
                },
            },
            icons: {
                facebook: '$vuetify.icons.facebook',
                instagram: '$vuetify.icons.instagram',
            },
            datepicker: {
                dateValue: new Date(),
                format: 'DD-MM-YYYY',
            },
            profileFormData: {},
        };
    },
    methods: {
        ...mapActions([
            'GET_DICTIONARIES',
        ]),
        initProfileFormData: function() {
            this.profileFormData = new FormData();
            this.profileFormData.append('full_name', this.models.user.profile.full_name);
            this.profileFormData.append('sex_id', this.models.user.profile.sex_id);
            this.profileFormData.append('date_birth', this.datepicker.dateValue.toISOString());
            this.profileFormData.append('description', this.models.user.profile.description);
            this.profileFormData.append('facebook', this.models.user.profile.facebook);
            this.profileFormData.append('instagram', this.models.user.profile.instagram);
            this.profileFormData.append('is_mail_blog_news', this.models.user.profile.is_mail_blog_news);
            this.profileFormData.append('is_mail_forum_news', this.models.user.profile.is_mail_forum_news);
            this.profileFormData.append('is_mail_answer_entity', this.models.user.profile.is_mail_answer_entity);
            this.profileFormData.append('img', this.models.user.profile.img);
        },
        updateProfile: function() {
            this.initProfileFormData();
            axios.post(route('profiles.update'), this.profileFormData).then((request) => {

                notify_success(this);
            }).catch((error) => {
                notify_errors(this, error.response.data.errors);
            });
        },
        uploadAvatar(e) {
            let file = e.target.files[0];
            let reader = new FileReader();

            if (file['size'] < 2111775) {
                reader.onloadend = (file) => {
                    //console.log('RESULT', reader.result)
                    //console.log(file)
                    this.models.user.profile.img = reader.result;
                    this.models.user.profile.image_src = reader.result;
                };
                reader.readAsDataURL(file);
            }
            else {
                alert('File size can not be bigger than 2 MB');
            }
        },
    },
    computed: {
        ...mapGetters([
            'DICTIONARIES',
        ]),
        facebook() {
            return this.icons.facebook;
        },
        instagram() {
            return this.icons.instagram;
        },
    },
    mounted() {
        this.GET_DICTIONARIES();
        this.models.user = this.$auth.user().data;
        console.log(1);
        //this.models.user.profile.sex_id = this.$auth.user().data.profile.sex_id;
    },
    watch: {
        $route(to, from) {
            console.log(2);
            //console.log(to, from)
            if (to.name === 'dashboard') {
                this.models.user = this.$auth.user().data;
            }
        },
    },
};
</script>

<style scoped>
.tab:checked + label {
    background-color: #3ec6ff;
    color: #fff;
    transition: all .3s ease;
}

{
    display: block
;
}
.mx-datepicker {
    width: 100% !important;
}

.v-dashboard-profile {
    display: flex;
    width: 100%;

}

article {
    width: 100%;
}

article form {
    padding-bottom: 50px;
}

.info_item p {

    text-align: left;
    margin: 0px;

    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.info_item span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-width: 150px;

    text-align: right;
}

.account__info_wrap h3 {
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.user__data h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.input__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.input__wrap textarea {
    resize: none;
    max-width: 340px;
    width: 100%;
    outline: none;
    margin-left: 5px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    color: #555;
}

.input__wrap textarea:hover {
    border-color: #409aff;
}

.input__wrap textarea:focus {
    border-color: #409aff;
}

.input__wrap input::-webkit-input-placeholder {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #999999;
}

.input__wrap input:-moz-placeholder {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #999999;
}

.input__wrap input::-moz-placeholder {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #999999;
}

.input__wrap input:-ms-input-placeholder {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #999999;
}

.input__wrap label {
    display: flex;
    align-items: center;
    max-width: 340px;
    width: 100%;
    margin-bottom: 10px;
}

.input__wrap p {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;

}

.input__wrap input {
    margin-left: 5px;
    outline: none;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 340px;
    width: 100%;
    color: #555;
}

.input__wrap input:hover {
    border-color: #409aff;
}

.input__wrap input:focus {
    border-color: #409aff;
}

.input__wrap select {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    padding-left: 15px;
    height: 34px;
    max-width: 340px;
    width: 100%;
    color: #555;
    border: 1px solid #ccc;
}

.input__wrap select:hover {
    border-color: #409aff;
}

.input__wrap select:focus {
    border-color: #409aff;
}

.input__wrap select option {
    font-family: 'Oswald', sans-serif;
}

.account__avatar {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;


}

.hover__effect {
    background-color: #000;
    padding-top: 130px;
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: all .3s ease;
}

.hover__effect:hover {
    opacity: .5;
    transition: all .3s ease;
    cursor: pointer;
}

.hover__effect p {
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.account__avatar:hover {
    opacity: 1;
    transition: all .3s ease;
}

.account__avatar img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #ccc;
}

.birth_date__wrap {
    display: flex;
    max-width: 340px;
    width: 100%;
}

.birth_date__wrap select {
    max-width: 120px;
    width: 100%;
    height: 34px;
    margin-right: 1px;
}

.internet__profiles h3 {
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;

}

.parameters h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.login_with__wrap {
    max-width: 535px;
    width: 100%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.facebook__login {
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Oswald', sans-serif;
    border: 1px solid transparent;
    max-width: 265px;
    width: 100%;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
    background-color: #3b5998;
    margin-bottom: 15px;

    margin-right: 2.5px;
    transition: all .3s ease;
}

.google__login {
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Oswald', sans-serif;
    border: 1px solid transparent;
    max-width: 265px;
    width: 100%;
    color: #000;
    border: 1px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 15px;
    margin-left: 2.5px;

    transition: all .3s ease;
}

.google__login:hover {
    background-color: #000;
    color: #fff;
    transition: all .3s ease;

}

.facebook__login i:before,
.google__login i:before {
    margin-right: 5px;
    font-size: 20px;
}

.facebook__login:hover {
    background-color: #fff;
    border: 1px solid #3b5998;
    color: #3b5998;
    transition: all .3s ease;

}

.checkbox__wrap {
    max-width: 340px;
    width: 100%;
}

.checkbox__wrap span {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    max-width: 340px;
    width: 100%;
    margin-left: 15px;
}

.checkbox__wrap input {
    height: 20px;
    width: 20px;

}

.input__wrap.s_top {
    align-items: flex-start;
}

.short__p {

    max-width: 150px;
    width: 100%;
}

.short__p span a {
    text-decoration: none;
}

.other {
    margin: 0 auto;
    text-align: center;
}

.other p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
}

.other a {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: #999999;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
}

.other a:hover {
    border-bottom: 2px solid #999;
    transition: all .3s ease;
}

.profile {
    width: 50%;
    text-align: center;
}

.user h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.user__name p {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;

}

.geolocaction p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.user {
    max-width: 360px;
    width: 100%;
    margin-left: 50px;
}

.person__status {
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
}

.user__links {
    margin: 0 auto;
    margin-top: 25px;
    max-width: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user__link {
    cursor: pointer;
    display: block;

    border-radius: 5px;
    width: 29px;
    transition: all .3s ease;
}

.user__link:hover i {
    color: #fff;
    transition: all .3s ease;
}

.user__link:hover {

    background-color: #3ec6ff;

    transition: all .3s ease;
}

.user__link i {
    color: #999999;
    transition: all .3s ease;
    font-size: 30px;
}

hr {
    height: 1px;
    background-color: #000;
    width: 100%;
    margin: 0px;
}

.s_top p {
    margin: 0;
}

.save__btn {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #3ec6ff;
    border: none;
    min-height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #3ec6ff;
    padding: 15px;
    transition: all .3s ease;
}

.save__btn:hover {
    background-color: #3ec6ff;
    color: #fff;
    transition: all .3s ease;
}

.save__btn:focus {
    outline: none;
}

@media screen and (max-width: 1271px) {
    .user__data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input__wrap {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 366px;
        width: 100%;
        align-items: flex-start;
        margin: 0 auto;

    }

    .input__wrap input, .input__wrap textarea {
        margin-left: 0;
    }

}

@media screen and (max-width: 1065px) {
    .label__tab {
        max-width: 22%;
    }

}

@media screen and (max-width: 991px) {
    .info_item {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }

    hr {

        max-width: 400px;
        width: 100%;
    }

    .checkbox__wrap {
        margin: 0 auto;
    }

    .input__wrap p {
        margin: 10px auto;
    }

    .birth_date__wrap {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .profile {
        margin: 0 auto;
        width: 100%;
    }

    .user {
        margin: 0 auto;
    }

    article {
        width: 100%;

    }

    .v-dashboard-profile {
        flex-direction: column;
    }

}

@media screen and (max-width: 991px) {
    .container {
        max-width: 768px;
    }

    .label__tab {
        max-width: 30%;
    }

    .input__wrap {
        /*display: block;*/
    }
}

@media screen and (max-width: 635px) {
    .label__tab {
        max-width: 46%;
    }

    .user__name p {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .person__status {

    }
}

@media screen and (max-width: 550px) {
    .login_with__wrap {
        justify-content: center;
    }
}

@media screen and (max-width: 515px) {
    .label__tab {
        max-width: 100%;
    }
}

@media screen and (max-width: 415px) {
    .label__tab {
        max-width: 95%;
    }
}

p {
    margin-bottom: 0;
}

.disabled__btn input {
    background-color: #e8e8e8;
}

.disabled__btn input:hover {
    border-color: #ccc;
}
</style>
