<template>
    <div class="v-header-image">
        <div class="home">
            <!-- bg image -->
            <img src="img/bg.webp" alt="">
            <div class="container">
                <h2 class="home__title">Лучшие изображения</h2>
                <router-link
                        :to="{name:'forum'}"
                        class="router_link"
                        style="text-decoration: none"
                >
                    <p class="home__text">Форум - обсуждение к</p>
                </router-link>

                <form class="home__form" v-on:submit.prevent>
                    <button @click="search_filter(search)" class="home__submit">
                        <v-icon
                                v-text="magnify"
                        ></v-icon>
                    </button>
                    <input
                            type="text"
                            v-model="search"
                            class="home__input"
                            placeholder="Поиск в изображениях всех категорий"
                    >

<!--                    <div class="home__toggle-menu" @click="visibleSearch = !visibleSearch">-->
<!--                        Изображения-->
<!--                        <v-icon-->
<!--                                v-text="chevron_down"-->
<!--                        ></v-icon>-->
<!--                    </div>-->
<!--                    <div class="home__menu" v-if="visibleSearch">-->
<!--                        <span-->
<!--                                v-for="link in links"-->
<!--                                :key="link.route"-->
<!--                                class="home__menu-item">-->
<!--                            {{link.category}}-->
<!--                        </span>-->
<!--                    </div>-->
                </form>
                <div class="home__popular">
                    <p class="home__popular-title">Категории изображений: </p>
                    <span
                            v-for="image_category in DICTIONARIES.image_categories"
                            :key="image_category.id"
                            class="home__popular-item"
                            @click="image_category_filter(image_category.id)"
                    >
                                {{image_category.name}}
                    </span>
                </div>
              <router-link
                  :to="{name:'blog'}"
                  class="home__bottom-link"
              >
                <p class="home__text">Блог - статьи к</p>
              </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import filters_images_mixin from "../../mixins/filters/filters_images";

    export default {
        name: "v-header-image",
        mixins: [filters_images_mixin],
        data: () => ({
            icons: {
                chevron_down: '$vuetify.icons.chevron_down',
                magnify: '$vuetify.icons.magnify',
            },
            visibleSearch: false,
            links: [
                {route: 'catalog', category: 'Gallery'},
                {route: 'blog', category: 'Blog'},
                {route: 'forum', category: 'Forum'},
            ],
            search: '',
        }),
        methods: {
            hideOptions(){
                this.visibleSearch = false;
            }
        },
        computed: {
            ...mapGetters([
                'DICTIONARIES',
            ]),
            chevron_down() {return this.icons.chevron_down},
            magnify() {return this.icons.magnify},
        },
        mounted() {
            this.search = this.$store.state.images.url_params.filters.search
            this.GET_DICTIONARIES();
            document.addEventListener('click', this.hideOptions.bind(this), true);
        },
        beforeDestroy() {
            document.removeEventListener('click', this.hideOptions)
        },
      watch: {
        $route(to, from) {
          //console.log(555, to.name);
          if (to.name === 'home') {
            this.search = ''
            this.$store.state.images.url_params.filters.search = ''
          }
        }
      },
    }
</script>

<style scoped>
    .home {
        position: relative;
        font-family: sans-serif;
        background-color: #000;
    }

    .home a {

    }

    .home > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0.7;
    }

    .home .container {
        max-width: 820px;
        padding: 20px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .home__title {
        padding: 130px 0 0 0;
        font-size: 32px;
        text-align: center;
        color: #fff;
        line-height: 1.5;
        margin: 0 0 15px 0;
    }

    @media(max-width: 800px) {
        .home__title {
            font-size: 28px;
        }
    }

    @media(max-width: 568px) {
        .home__title {
            font-size: 26px;
        }
    }

    .home__text {
        color: #fff;
        text-align: center;
        margin: 0 0 42px 0;
        line-height: 1.5;
    }

    .home__form {
        display: flex;
        padding: 2px;
        background-color: #fff;
        position: relative;
        border-radius: 6px;
        margin: 0 0 15px 0;
    }

    .home__submit {
        border: none;
        background-color: #fff;
        outline: none;
        padding: 0;
    }

    .home__submit i {
        width: 50px;
        height: 55px;
        opacity: .75;
        transition: opacity .3s ease;
    }

    .home__submit i:hover {
        opacity: 1;
    }

    .home__input {
        padding: 18px 0;
        border: none;
        outline: none;
        width: 100%;
        color: #191b26;
        text-overflow: ellipsis;
        font-size: 16px;
    }

    .home__input::placeholder {
        opacity: 0.5;
        color: #191b26;
    }

    .home__toggle-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        margin: 0 15px 0 0;
        opacity: 0.7;
        transition: opacity .2s ease;
    }

    .home__toggle-menu:hover {
        opacity: 1;
    }

    .home__menu {
        position: absolute;
        display: flex;
        top: 60px;
        right: 0;
        background-color: #191b26;
        z-index: 50;
        border-radius: 3px;
        padding: 10px 0;
    }

    .home__menu-item {
        text-decoration: none;
        color: #9aa2b0;
        transition: opacity .2s ease;
        padding: 12px 20px;
        margin: 0 7px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .home__menu-item:hover {
        background-color: #22242f;
        color: #fff;
    }

    .home__menu-item.padded {
        padding: 12px 20px 12px 40px;
    }

    .home__menu-border {
        margin: 10px 7px;
        height: 0;
        box-sizing: content-box;
        border-top: 1px solid #2e303d;
    }

    .home__popular {
        display: flex;
        font-size: 14px;
        color: #fff;
        opacity: 0.5;
        align-items: center;
        margin: 0 auto 130px auto;
        flex-wrap: wrap;
    }

    .home__popular-title {
        margin: 0 5px 5px 0;
    }

    .home__popular-item {
        color: #fff;
        text-decoration: none;
        margin: 0 0 5px 0;
        cursor: pointer;
    }
    .home__popular-item:after {
        content: ",";
        margin: 0 5px 0 0;
    }

    .home__popular-item:last-child::after {
        display: none;
    }

    .home__bottom-link {
        opacity: 0.7;
        color: #fff;
        text-decoration: none;
        transition: opacity .2s ease;
        font-size: 14px;
        text-align: center;
    }

    .home__bottom-link:hover {
        opacity: 1;
    }

    .router_link {
        text-decoration: none;
    }

    .router_link p:hover {
        color: #cacaca;
    }
</style>