<template>
    <div class="v-header">
        <v-header-menu></v-header-menu>
        <v-header-image></v-header-image>
    </div>
</template>
<script>
    import VHeaderMenu from "./v-header-menu";
    import VHeaderImage from "./v-header-image";
    export default {
        name: "v-header",
        components: {VHeaderImage, VHeaderMenu}
    }
</script>

<style scoped>

</style>
