<template>
  <div class="v-header-menu">
    <header class="header">
      <div class="container">
        <div class="header__left">
          <router-link :to="{name:'home'}" class="header__logo">
            <img :src="logo()" alt="">
          </router-link>
          <nav class="header__nav">
            <router-link
                v-for="link in links"
                :key="link.route"
                :to="{name:link.route}"
                class="header__nav-item">
              {{ link.category }}
            </router-link>
          </nav>
        </div>
        <div class="header__right">
          <div class="header__menu-toggle-container">
            <button class="header__menu-toggle" @click="visibleHeader = !visibleHeader">
              Меню
              <v-icon
                  v-text="icons.chevron_down"
              ></v-icon>
            </button>
            <div v-if="visibleHeader" class="header__menu menu">
              <div class="menu__row">
                <router-link v-if="$auth.check()" class="header__auth-mobile-item" :to="{ name: 'dashboard' }">
                  Dashboard
                </router-link>
                <a v-if="$auth.check()" href="#" @click.prevent="$auth.logout()"
                   class="header__auth-mobile-item">Выход</a>
                <router-link v-if="!$auth.check()" class="header__auth-mobile-item" :to="{ name: 'login' }">Вход
                </router-link>
                <router-link v-if="!$auth.check()" class="header__auth-mobile-item" :to="{ name: 'register' }">
                  Регистрация
                </router-link>
              </div>
              <div class="menu__row">
                <div class="menu__label">Категории</div>
                <router-link
                    v-for="link in links"
                    :key="link.route"
                    :to="{name:link.route}"
                    class="menu__link">
                  {{ link.category }}
                </router-link>
              </div>
              <div class="menu__row">
                <div class="menu__label">Сайт</div>
                <a href="#" class="menu__link">О нас</a>
                <a href="#" class="menu__link">Часто задаваемые вопросы</a>
                <a href="#" class="menu__link">Условия</a>
                <a href="#" class="menu__link">Конфиденциальности</a>
                <div class="header__menu-lang-container">
                  <a
                      href="#"
                      class="menu__link"
                      @click="visibleHeader = !visibleHeader; visibleLanguage = !visibleLanguage"
                  >
                    <v-icon
                        v-text="icons.web"
                    ></v-icon>
                    Language
                  </a>
                  <div class="menu__menu-lang menu-lang" v-if="visibleLanguage">
                    <div class="menu-lang__col">
                      <a href="#" class="menu-lang__item">Deutsch</a>
                      <a href="#" class="menu-lang__item">English</a>
                    </div>
                    <div class="menu-lang__col">
                      <a href="#" class="menu-lang__item">Français</a>
                      <a href="#" class="menu-lang__item">Русский</a>
                    </div>
                  </div>
                </div>
                <div class="menu__socials">
                  <a href="#" class="menu__social">
                    <v-icon
                        v-text="icons.facebook"
                    ></v-icon>
                  </a>
                  <a href="#" class="menu__social">
                    <v-icon
                        v-text="icons.instagram"
                    ></v-icon>
                  </a>
                  <a href="#" class="menu__social">
                    <v-icon
                        v-text="icons.twitter"
                    ></v-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="header__auth">
            <router-link v-if="$auth.check()" class="header__auth-item" :to="{ name: 'dashboard' }">
              {{ $auth.user().data.name }}
            </router-link>
            <a v-if="$auth.check()" href="#" @click.prevent="$auth.logout()" class="header__auth-item">Выход</a>
            <router-link v-if="!$auth.check()" class="header__auth-item" :to="{ name: 'login' }">Вход</router-link>
            <router-link v-if="!$auth.check()" class="header__auth-item" :to="{ name: 'register' }">Регистрация
            </router-link>
          </div>
          <router-link class="header__upload" :to="{ name: 'auth.catalog' }">
            <v-icon
                v-text="icons.cloud_upload"
            ></v-icon>
            Загрузить фотографии
          </router-link>
          <button class="header__burg" @click="visibleHeader = !visibleHeader">
            <v-icon
                v-text="icons.view_headline"
            ></v-icon>
          </button>
        </div>
      </div>
    </header>
  </div>
</template>
<script>
import route from '../../halpers/route';

export default {
  name: "v-header-menu",
  data: () => ({
    icons: {
      chevron_down: '$vuetify.icons.chevron_down',
      view_headline: '$vuetify.icons.view_headline',
      web: '$vuetify.icons.web',
      facebook: '$vuetify.icons.facebook',
      instagram: '$vuetify.icons.instagram',
      twitter: '$vuetify.icons.twitter',
      cloud_upload: '$vuetify.icons.cloud_upload',
    },
    visibleHeader: false,
    visibleLanguage: false,
    links: [
      {route: 'catalog', category: 'Галерея'},
      {route: 'blog', category: 'Блог'},
      {route: 'forum', category: 'Форум'},
    ]
  }),
  methods: {
    hideOptions() {
      this.visibleHeader = false;
      this.visibleLanguage = false;
    },
    logo() {
      return '/storage/img/static/logo.png';
    }
  },
  computed: {},
  mounted() {
    // console.log(this.$auth.user().data.name)
    document.addEventListener('click', this.hideOptions.bind(this), true);
  },
  beforeDestroy() {
    document.removeEventListener('click', this.hideOptions)
  }
}
</script>

<style scoped>
.header {
  box-shadow: 0 0 60px rgba(0, 0, 0, .12);
  position: relative;
}

.header * {
  font-size: 16px;
  font-family: sans-serif;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  max-width: 1828px;
  margin: 0 auto;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 24px;
  width: 100px;
  margin: 0 40px 0 0;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  padding: 0 15px;
  text-decoration: none;
  color: #191b26 !important;
  transition: opacity .2s ease;
}

.header__nav-item:hover {
  opacity: 0.5;
}

@media (max-width: 1179px) {
  .header__nav-item {
    display: none;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu-toggle-container {
  position: relative;
}

.header__menu-toggle {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: #191b26 !important;
  transition: opacity .2s ease;
  padding: 0 15px;
}

.header__menu-toggle:hover {
  opacity: 0.5;
}

@media (max-width: 1037px) {
  .header__menu-toggle {
    display: none;
  }
}

.header__burg {
  display: none;
  margin: 0 0 0 20px;
  border: none;
  outline: none;
  background: none;
}

.header__icon-burg {
  display: inline-block;
  width: 20px;
  height: 16px;
  background-position: -100px -100px;
}

@media (max-width: 1037px) {
  .header__burg {
    display: inline-flex;
    align-items: center;
  }
}

.header__icon-arrow {
  display: inline-block;
  width: 15px;
  height: 9px;
  margin-left: 5px;
}

.header__menu {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  background-color: #191b26;
  z-index: 50;
}

@media (max-width: 1037px) {
  .header__menu-toggle-container {
    position: static;
  }

  .header__menu {
    top: 60px;
  }
}

.header__menu a {
  color: #9aa2b0;
  text-decoration: none;
  padding: 5px 15px;
  margin: 7px;
  display: flex;
  align-items: center;
  min-width: 156px;
}

.header__menu a:hover {
  background-color: #22242f;
  color: #fff;
}

.header__menu a:hover i {
  opacity: 1;
}

.header__menu .menu__row:last-child a {
  min-width: 240px;
}

.header__auth {

}

.header__auth-item {
  padding: 0 15px;
  text-decoration: none;
  color: #191b26 !important;
  transition: opacity .2s ease;
}

.header__auth-item:last-child {
  border-left: 1px solid #eee;
}

.header__auth-item:hover {
  opacity: 0.5;
}

.header__upload {
  padding: 6px 27px;
  margin: 0 0 0 15px;
  background-color: #02be6e;
  color: #fff;
  border-radius: 18px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: background-color .2s ease;
}

@media (max-width: 767px) {
  .header__upload {
    display: none;
  }
}

.header .menu__row:first-child {
  display: none;
}

@media (max-width: 701px) {
  .header__menu {
    flex-direction: column;
    width: 100%;
  }

  .header .menu__row {
  }

  .header .menu__row:first-child {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: #1f2231;
  }

  .header .menu__row:first-child a {
    display: inline-block;
    text-align: center;
    flex: 1 1 auto;
    color: #fff;
    min-width: auto;
  }

  .header .menu__row:first-child a:last-child {
    border-left: 1px solid #fff;
  }

  .header__auth {
    display: none;
  }
}

.header__upload:hover {
  background-color: #191b26;
}

.header__icon-upload {
  display: inline-block;
  width: 18px;
  height: 16px;
  background-position: -50px -50px;
  margin: 0 5px 0 0;
}

.header__menu-lang-container {
  position: relative;
}

.header .menu__row {
  border-right: 1px solid #2e303d;
}

.header .menu__row:last-child {
  border-right: 0;
}

.header .menu__label {
  color: #fff;
  font-weight: 700;
  margin: 20px 20px 10px;
}

.header .menu__nav {
  border-bottom: 1px solid #2e303d;
  margin: 0 0 10px 0;
}

.header .menu__link {
}

.header .menu__icon-lang {
  display: inline-block;
  width: 18px;
  height: 16px;
  background-position: -50px -100px;
  opacity: 0.5;
  margin: 0 5px 0 0;
}

.header .menu__menu-lang {
  position: absolute;
  top: 33px;
  right: 15px;
  border-radius: 2px;
  background: #191b26;
  display: flex;
  border: 1px solid #2e303d;
  padding: 5px 0;
  z-index: 51;
}

@media (max-width: 701px) {
  .header .menu__menu-lang {
    left: 0;
  }
}

.header .menu__socials {
  border-top: 1px solid #2e303d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .menu__social {
  opacity: 0.5;
  transition: opacity .2s ease;
  min-width: auto !important;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .menu__social:hover {
  opacity: 1;
  background: none;
}

.header .menu__icon-facebook {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-position: 0 -300px;
}

.header .menu__icon-instagram {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: -200px -300px;
}

.header .menu__icon-twitter {
  display: inline-block;
  width: 18px;
  height: 15px;
  background-position: -50px -300px;
}

.menu-lang__col {
}

.menu-lang__item {
  min-width: auto !important;
  padding: 2px 15px !important;
}

.menu__link i {
  color: #9aa2b0;
  padding-right: 5px;
  font-size: 20px;
}

.menu__socials i {
  color: #9aa2b0;
}

.header__upload i {
  color: #ffffff;
  margin-right: 7px;
  font-size: 20px;
}

</style>
