<template>
    <div class="App">
        <v-main-wrapper></v-main-wrapper>
    </div>
</template>

<script>
    import vMainWrapper from './v-main-wrapper'

    export default {
        name: "App",
        components : {
            vMainWrapper
        }
    }
</script>

<style scoped>

</style>
