<template>
  <div class="v-main-wrapper">
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
    <notifications
        group="success"
        position="bottom right"
        classes="vue-notification success"
    />
    <notifications
        group="error"
        position="bottom right"
        classes="vue-notification error"
    />
  </div>
</template>

<script>
export default {
  name: "v-main-wrapper",
  components: {},
  computed: {
    test() {
      //console.log(1111);
    },
  },
  mounted() {
    axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$auth.token();
  }
}
</script>

<style>
input {
  outline: none;
}

.button-green:focus {
  outline: none;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}
</style>
