.images {
    font-family: Open Sans, sans-serif;
  }
  .images .container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1828px;
    margin: 0 auto;
  }
  
  .images__image-container {
      position: relative;
      margin: 5px;
      flex: 0 0 calc(25% - 10px);
      width: calc(25% - 10px);
      overflow: hidden;
      height: 250px;
  }
  
  .images__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  @media (max-width: 1499px) {
    .images__image, .images__image-container {
      height: 250px;
    }
  }
  @media (max-width: 1226px) {
    .images__image-container {
      flex: 0 0 calc(33.333% - 10px);
      max-width: calc(33.333% - 10px);
    }
  }
  @media (max-width: 1049px) {
    .images__image, .images__image-container {
      height: 200px;
    }
  }
  @media (max-width: 999px) {
    .images__image, .images__image-container {
      height: 200px;
    }
  }
  @media (max-width: 799px) {
    .images__image, .images__image-container {
      height: 250px;
    }
    .images__image-container {
      flex: 0 0 calc(50% - 10px);
      max-width: calc(50% - 10px);
    }
  }
  @media (max-width: 706px) {
    .images__image, .images__image-container {
      height: 230px;
    }
  }
  @media (max-width: 583px) {
    .images__image, .images__image-container {
      height: 180px;
    }
  }
  @media (max-width: 478px) {
    .images__image, .images__image-container {
      height: 160px;
    }
  }
  @media (max-width: 425px) {
    .images__image, .images__image-container {
      height: 220px;
    }
    .images__image-container {
      flex: 0 0 calc(100% - 10px);
      max-width: calc(100% - 10px);
    }
  }
  @media (max-width: 375px) {
      .images__image, .images__image-container {
        height: 180px;
      }
  }
  
  .images__menu-bottom {
      position: absolute;
      bottom: -50px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transition: opacity .3s ease,
      bottom .3s ease;
      opacity: 0;
  }
  
  .images__image-container:hover .images__menu-bottom {
      bottom: 0;
      opacity: 1;
  }
  
  .images .menu-bottom {
      padding: 15px 15px 7px 15px;
      box-sizing: border-box;
      background: linear-gradient(to top, #0009, #0000);
      display: flex;
      align-items: center;
  }
  
  .images .menu-bottom a {
      text-decoration: none;
      color: #fff !important;
      margin: 0 12px 0 0;
      transition: opacity .2s ease;
  }
  .images .menu-bottom a:hover {
      opacity: 0.5;
  }
  .images .menu-bottom a:last-child {
      margin: 0;
  }
  
  .images .menu-bottom__left {
  }
  
  .images .menu-bottom__user {
  }
  
  .images .menu-bottom__right {
      display: flex;
  }
  
  @media(max-width: 767px) {
      .menu-bottom__right {
          display: none !important;
      }
  }
  
  .images .menu-bottom__likes {
  }
  
  .images .menu-bottom__icon-likes {
      display: inline-block;
      width: 15px;
      height: 14px;
      background: url(./images/sprites.svg?2),none;
      background-position: 0 -200px;
  }
  
  .images .menu-bottom__stars {
  }
  
  .images .menu-bottom__icon-stars {
      display: inline-block;
      width: 15px;
      height: 14px;
      background: url(./images/sprites.svg?2),none;
      background-position: -50px -200px;
  }
  
  .images .menu-bottom__comments {
      
  }
  
  .images .menu-bottom__icon-comments {
      display: inline-block;
      width: 14px;
      height: 13px;
      background: url(./images/sprites.svg?2),none;
      background-position: -200px -250px;
  }
  