@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i&display=swap");
.forum-question {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.forum-question {
  margin: 0;
}
.forum-question a {
  background-color: transparent;
}
.forum-question a:active,
.forum-question a:hover {
  outline: 0;
}
.forum-question h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.forum-question img {
  border: 0;
}
.forum-question input {
  color: inherit;
  font: inherit;
  margin: 0;
}
.forum-question input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.forum-question input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.forum-question input {
  line-height: normal;
}
.forum-question table {
  border-spacing: 0;
}
.forum-question td,
.forum-question th {
  padding: 0;
}
.forum-question .pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 0 transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}
.forum-question .pure-button:focus,
.forum-question .pure-button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#1a000000",GradientType=0);
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
}
.forum-question .pure-button:focus {
  outline: 0;
}
.forum-question .pure-button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
    inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-color: #000;
}
.forum-question .pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
@media screen and (max-width: 567px) {
  .forum-question .hide-xs {
    display: none !important;
  }
}
@media screen and (min-width: 568px) and (max-width: 767px) {
  .forum-question .hide-sm {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .forum-question .hide-md {
    display: none !important;
  }
}
.forum-question h1,
.forum-question h2,
.forum-question h3,
.forum-question input {
  color: #191b26;
  font-family: Open Sans, sans-serif;
}
.forum-question input {
  border-radius: 2px !important;
  resize: none;
}
.forum-question :focus:required {
  border-color: #129fea !important;
}
.forum-question :invalid {
  color: #555 !important;
}
.forum-question .pure-button {
  padding: 10px 22px;
  text-decoration: none !important;
  border-radius: 50px !important;
}
.forum-question .pure-button:hover {
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  ) !important;
}
.forum-question .button-green {
  color: #fff !important;
  background-color: #02be6e !important;
}
.forum-question .button-md {
  padding: 8px 17px;
  font-size: 13px;
}
.forum-question .button-sm {
  padding: 6px 12px;
  font-size: 12px;
  position: relative;
  top: -2px;
}
.forum-question .pure-button .check {
  display: none;
}
.forum-question * {
  margin: 0;
}
.forum-question {
  height: 100%;
  min-width: 320px;
}
.forum-question a {
  color: #0a88d3;
  text-decoration: none;
  cursor: pointer;
}
.forum-question p {
  margin: 0 0 10px;
  line-height: 1.6;
}
.forum-question a,
.forum-question input {
  outline: none !important;
}
.forum-question h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 25px;
}
.forum-question h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 12px;
}
.forum-question h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 15px;
}
.forum-question h1 a,
.forum-question h2 a,
.forum-question h3 a {
  color: #555;
}
.forum-question h1 a:hover,
.forum-question h2 a:hover,
.forum-question h3 a:hover {
  text-decoration: underline;
}
.forum-question table {
  width: 100%;
  border-collapse: collapse;
}
.forum-question table td,
.forum-question table th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
}
.forum-question label:not([class="checkbox"]) {
  display: block;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
.forum-question ::-webkit-input-placeholder {
  color: #bbb !important;
}
.forum-question ::-moz-placeholder {
  color: #bbb !important;
}
.forum-question :-ms-input-placeholder {
  color: #bbb !important;
}
.forum-question [placeholder] {
  text-overflow: ellipsis;
}
.forum-question ::-ms-clear {
  display: none;
}
.forum-question .tiny_search {
  display: inline-block;
  position: relative;
  font-size: 16px;
  min-width: 0;
}
.forum-question .tiny_search label {
  z-index: 10;
  display: inline-block !important;
  margin: 0 !important;
  background: url(images/sprites.svg?1);
  background: url(images/sprites.svg?1), none;
  background-position: -200px 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 1px;
  opacity: 0.7;
}
.forum-question .tiny_search [type="text"] {
  transition: 0.3s;
  width: 0;
  opacity: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0 !important;
  padding: 2px 28px 2px 2px;
  color: #777;
}
.forum-question .tiny_search [type="submit"] {
  position: absolute;
  left: -9999px;
}
.forum-question .tiny_search.active input {
  width: 220px;
  opacity: 1;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0 !important;
  padding: 2px 28px 2px 2px;
  background: transparent;
}
.forum-question .check {
  font-style: normal;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
  line-height: 12px;
}
.forum-question .check {
  font-size: 12px;
}
.forum-question .forum_posts td,
.forum-question .forum_posts th {
  padding: 12px 10px;
  vertical-align: top;
  font-weight: 400;
  line-height: 1.5;
}
.forum-question .forum_posts th {
  width: auto;
  background: #f6f5fa;
  border-top: 1px solid #f0f1f4;
  border-bottom: 1px solid #f0f1f4;
  font-size: 14px;
}
.forum-question .forum_posts td {
  color: #2e3539;
  background: #fff;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
.forum-question .forum_posts td:first-child span {
  color: #777;
  font-size: 13px;
}
.forum-question .forum_posts td:last-child {
  min-width: 120px;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.forum-question .forum_posts td:first-child {
  width: 1%;
}
.forum-question .forum_posts td:first-child img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.forum-question .forum_posts .options {
  float: right;
  margin-left: 10px;
  font-size: 12px;
}
.forum-question .forum_posts .options a {
  color: #777;
  margin-left: 10px;
}
.forum-question .forum_posts .post {
  margin: 10px 0 0;
  font-size: 13px;
  word-wrap: break-word;
  white-space: normal;
  color: #555;
}