<template>
    <div class="v-option">
        <span class="option"
           @click="visible = !visible"
        >{{selected}}</span>
        <div
            class="options"
            v-if="visible"
        >
            <p
                v-for="option in options"
                :key="option.value"
                @click="selectOption(option)"
            >{{option.name}}</p>

        </div>
    </div>
</template>

<script>
    export default {
        name: "v-option",
        props: {
            options: {
                type: Array,
                default() {
                    return [];
                }
            },
            selected: {
                type: String,
                default() {
                    return '';
                }
            }
        },
        data() {
            return {
                visible: false
            };
        },
        methods: {
            selectOption(option){
                this.$emit('selectOption', option);
                this.visible = false;
            },
            hideOptions(){
                this.visible = false;
            }
        },
        mounted() {
            document.addEventListener('click', this.hideOptions.bind(this), true);
        },
        beforeDestroy() {
            document.removeEventListener('click', this.hideOptions)
        }
    }
</script>

<style scoped>
    .v-option {
        position: absolute;
    }
    .option {
        padding: 0px;
        border: solid 1px;
        position: relative;
        width: 200px;
        cursor: pointer;
    }
    .options {
        border: solid 1px;
        position: absolute;
        width: 200px;
    }
    .options p:hover {
        background: #4aa0e6;
    }
</style>
