<template>
    <div class="v-select">
        <v-option
            :options="options"
            :selected="selected"
            @selectOption="selectOption"
        ></v-option>
    </div>
</template>

<script>
    import VOption from "./v-option";

    export default {
        name: "v-select",
        components: {VOption},
        data() {
            return {
                options: [
                    {name: "Option 1", value: 1},
                    {name: "Option 2", value: 2},
                    {name: "Option 3", value: 3},
                    {name: "Option 4", value: 4},
                    {name: "Option 5", value: 5},
                ],
                selected: 'Non select'
            }
        },
        methods: {
            selectOption(option){
                this.selected = option.name
            }
        }
    }
</script>

<style scoped>

</style>
